[2016-01-06 20:16] schiffner commented on #644
We already have this issue: https://github.com/mlr-org/mlr-tutorial/issues/11

But I haven't done it yet... :(

[2016-01-06 21:59] ecrutchfield commented on #647
BTW, here are some details on the problems I had running the existing unit tests.

Running the tests using devtools::test() will crash my R session when it hits the test_classif_lssvm.R tests. I first uninstalled the kernlab package, then re-installed it and was able to run the individual test_case successfully. However, attempting to run the full set of tests again using devtools::test() caused t

[2016-01-06 22:02] larskotthoff commented on #647
Can you use those learners? Running those tests works fine for me.

[2016-01-06 22:26] ecrutchfield commented on #647
I think so. At least I tried to run test_classif_lssvm by itself and it worked fine. It's only when I try to run the full body of tests that it crashes my R session.

[2016-01-07 00:07] larskotthoff commented on #647
There is a problem when too many packages are loaded and you get a "maximum number of open DLLs exceeded" error, but that shouldn't crash the session.

[2016-01-07 00:44] berndbischl commented on #647
@ecrutchfield
Running all tests is rather bothersome. Even for us, although we know how to do this. Running everything, and "making really sure", that is what we use travis for, like Lars told you.

But of course it must be possible to check the topic you are currently working on, before you do the PR, locally. Here are 2 ways to do this.

a) use devtools::test_dir
So in your case you can run
devt

[2016-01-07 00:48] berndbischl commented on #644
@PhilippPro
Close here?

And please feel free to ask us about stacking or if you need other pointer to heterogenous ensemble combinations.

[2016-01-07 01:45] berndbischl commented on #647
PR is merged.
if @ecrutchfield replies about the tests, we can close this soon

[2016-01-07 07:11] PhilippPro commented on #644
yes.

[2016-01-07 12:14] ecrutchfield commented on #647
@berndbischl Thanks for the detailed explanation of your testing approach. Sometimes it's hard knowing what to run to do a thorough regression test when you're new to a project, so I usually start with a complete run as a starting point. I like your approach better! ;)

As far as I'm concerned, this issue is closed.

Thanks again for all your help!

BTW, you all have done an awesome job with this

[2016-01-07 15:52] #644 closed

[2016-01-07 23:37] berndbischl commented on #647
lars has updated the wiki page wrt local unit testing for contributors

[2016-01-07 23:37] #647 closed

[2016-01-08 02:07] #556 closed

[2016-01-08 08:20] florianfendt commented on #590
Closing here. Has been fixed in PR #640

[2016-01-08 08:20] #590 closed

[2016-01-08 10:59] jakob-r commented on #629
You can delete it and I will branch if needed. No problem.

[2016-01-08 17:39] giuseppec opened #652 "speedup removeConstantFeatures"
The `removeConstantFeatures` function is very slow for big data, this is because the `BBmisc::computeMode` function is very slow. I've written a `computeMode2` function that is faster:

[code]

However, `computeMode` is still faster for factors with less then ~15000 entries. Here a short benchmark study:

[code]

Do we want to improve this in BBmisc (data.table dependency must be added) or just us

[2016-01-08 17:43] larskotthoff commented on #652
Should this be an issue in the [BBmisc repo](https://github.com/berndbischl/BBmisc)?

[2016-01-09 21:25] schiffner opened #654 "Incorrect plots by `plotThreshVsPerf` and `plotROCRCurves`"
`plotThreshVsPerf` and `plotROCRCurves` show incorrect plots for `ResampleResult`s (and thus also for `list`s of `ResampleResult`s and `BenchmarkResult`s) if the curves are not aggregated. Instead of separate curves for the resampling iterations one very wiggly line is drawn.

[code]

[2016-01-09 22:02] zmjones commented on #654
I will look into this on Monday.

[2016-01-09 23:40] berndbischl commented on #652
@giuseppec
While I find this good what you are doing, this is kind of the "wrong" approach.

1) Adding the datatable dependency is really heavy for such a "little" function and the gain we get.

2) Why not directly coe the function in C?

[2016-01-10 00:51] berndbischl commented on #652
I already have a version in C.
But we should move this to BBmisc

Also, @giuseppec your version does not work for me? I would like to compare to it. But I get:

[code]

[2016-01-10 01:02] berndbischl commented on #652
@giuseppec
Disregard that, it is this non-standard evaluation crap i guess. I had the function computeMode2 already copied to BBmisc/R, then it does not work.
(Note to myself OR Giuseppe: I need to get better at datatable)

I have now a version, which on integers > 0 is a lot faster, even than the datatable version.
I have an (easy) way to make it run faster on everything, by converting stuff to a

[2016-01-10 22:45] schiffner commented on #654
Thanks.

[2016-01-12 00:33] berndbischl commented on #629
@jakob-r
Could you please do this in a PR? Thanks.

[2016-01-12 13:59] #629 closed

[2016-01-12 18:18] berndbischl commented on #602
PR was merged but there are still 2 open TODOs

1) check thread again, there was something about hardcoded params
2) check whether NEWS is OK

[2016-01-12 18:27] #573 closed

[2016-01-13 01:53] schiffner commented on #602
Some initial feedback:

I've only looked at `classif.randomForestSRC` yet (which is not directly subject of this issue or the PR, but which I understand best). As far as I know yet (need to read the docs again when I'm more awake):

1) In my opinion not all of the hardcoded params need to be hardcoded (better put them in `par.vals` with a `note`).
* Hardcoding `forest = TRUE` is ok because otherwi

[2016-01-13 07:10] berndbischl commented on #602
So we simply add both to par.vals?

Can we fix this NOW or shall we open up a small issue for this?

So simply add this?

[2016-01-13 16:49] jakob-r commented on #344
I am tackling this issue currently in branch: https://github.com/mlr-org/mlr/tree/fix_344_default_par_vals

[2016-01-14 03:32] berndbischl opened #661 "sometimes support packages that ONLY live on Github for now?"
Hi,

what do you, other devels, think of this?
Here are three examples that come to my mind immediatly

1)
https://github.com/swager/randomForestCI

2)
https://github.com/mlr-org/mlrMBO

3)
At one point, xgboost was removed and only lived on CRAN.

My 2cents:

I would rather avoid interfacing such packages commonly, as must of them have a reason not to be on CRAN (eg because they are not finished)

[2016-01-14 03:32] berndbischl commented on #661
@larskotthoff @mllg @zmjones @schiffner

[2016-01-14 03:51] larskotthoff commented on #661
That's fine with me in principle, I don't see any disadvantage to supporting these as long as we label them experimental in the description and make sure that it doesn't break on CRAN (i.e. disable the tests). With devtools, installing from github is (almost) as easy as installing from CRAN, so the user doesn't have to jump through a lot of hoops.

I guess the development effort would be higher th

[2016-01-14 04:10] berndbischl commented on #661
Sure. But like I said, I would like to keep the instances were we do that down to a minimum anyways. We should always carefully ask ourselves:  "Do we need to support this? Now?"
But for 1-3 above in the OP my answer would be indeed: "yes".

I really dont want this is much:

a) Its too hard for too many people.
b) We already have many people installing mlr from Github, if we do stuff like that we

[2016-01-14 04:11] berndbischl commented on #661
I also emailed Uwe to ask whether we get into problems on CRAN if we do that.

[2016-01-14 10:31] berndbischl commented on #661
Uwe said that this is allowed

Quote:

"Packages on which a CRAN package depends should be available from a mainstream repository: if any mentioned in ‘Suggests’ or ‘Enhances’ fields are not from such a repository, where to obtain them at a repository should be specified in an ‘Additional_repositories’ field of the DESCRIPTION file (as a comma-separated list of repository URLs) or for other means

[2016-01-14 15:58] giuseppec opened #662 "mboost: add support for various families"
Here is a list of families that can be used in mboost: http://www.inside-r.org/packages/cran/mboost/docs/Family
Currently, we only support `Binomial()` and `AdaExp()` for classification (but don't support `Binomial(link = "probit")`) or families that have an additional arg. Also we should think of a solution how to handle additional args in mboost families (as they can be hyperparameters as well,

[2016-01-14 20:18] ecrutchfield opened #663 "Some imputeLearners generate errors"
Good afternoon,
I have been trying to impute data using the impute() method, but have seen inconsistent results across different classes. Maybe I misunderstand the "missings" property on the listLearners() function, but I thought that property would tell me which packages I could use for imputing missing data. Of the 8 classes that I have which can deal with missing data, only 3 will work without

[2016-01-14 21:39] larskotthoff commented on #663
The `missings` properties refers only to features, not to response values. That is, all learners that have the `missings` property can deal with incomplete feature matrices, but still need labels for every observation. Similarly, the imputation functions only impute features.

[2016-01-14 22:10] schiffner commented on #663
Hi Eric,
thanks for the report.
To clarify things a bit:
* The `missings` property simply says that a learner can deal with missing values in the features (i.e. predictor/explanatory/independent variables) on its own, e.g. through imputation and/or surrogate variables.
* You can in principle use any learner (suitable for the type of variable you want to impute) for imputation,   not just those wit

[2016-01-14 22:15] ecrutchfield commented on #663
Ah, thanks for the heads up on #26 @schiffner! I did not see that when I was looking for existing issues.

I have the case you mention in your third bullet (imputing features using other features with missing data), so it seems I am appropriately restricting my learners to those that support missing data.

Anyway, I think I have enough options with the 3 working imputeLearner classes that I can mo

[2016-01-15 05:21] berndbischl commented on #663
Hi,

how shall we clean this issue up?

1) Do we have a little table somewhere in the docs / learner API in the tutorial where all of properties are explained? If not we should add it.

2) In Erics code, is any error now not a duplicate of #26?

[2016-01-15 08:16] florianfendt commented on #579
I implemented those measures in #659, which has been merged, therefore closing here.

[2016-01-15 08:16] #579 closed

[2016-01-15 12:07] schiffner commented on #663
In the docs there is a table in `?RLearner`, which I suppose  is not the most prominent place where people look. I guess we should doc the `Learner` object in `?makeLearner` and also include a table with properties there (preferably a reusable template).

In the tutorial there are some explanations on the page with the learner tables (http://mlr-org.github.io/mlr-tutorial/devel/html/integrated_lea

[2016-01-15 15:12] filipre opened #666 "Feature Selection: Use criterion function instead of specific learner+resampling"
Hey mlr community!

Currently, I'm working on implementing the filter-based feature selection algorithm "[LoKDFS](http://jmlr.csail.mit.edu/proceedings/papers/v25/azmandian12/azmandian12.pdf)" (Local Kernel Density Ratio-Based Feature Selection for Outlier Detection by Fatemeh Aymandian) in mlr. The algorithm tries different subsets of features and calculates for each subset a specific value by a

[2016-01-18 11:22] berndbischl commented on #666
Hi,
the problem is that what you are currently doing is not completely supported by the structure we have.
What we currently can do is
a) support arbitrary filters where the filter assigns one value per feature
b) forward selection (and other search strategies) that evaluate the ML method on the selected set by resampling (eg holdout or cross-validation).

The approach b) is based on the stuff by

[2016-01-18 12:37] filipre commented on #666
Hey,

yes! That's a good summary.

I could think of following input/output:

[code]

To be honest, for me it is quite hard to define consistent input/output since I do not know mlr good enough but I could think of following requirements:
- usage of different search strategies
- like the other filters/preproc methods: be able to wrap other learners (see example above).
- custom parameters (like "ke

[2016-01-18 14:23] giuseppec opened #668 "The error message in a FailureModel is not stored for predictions?"
[code]

[code]

Shouldn't the `predict` column contain the error messages? Using `lrn = makeLearner("classif.randomForest")` for example stores an error message in the `train` column.

[2016-01-19 07:21] berndbischl commented on #666
Ok. Lets summarize again.

1) We create a Filter object, maybe this needs a specific class to separate it from the univariate filters.

[code]

2) We then want to run search algos on top of this. This kind of implies that we would like to run "selectFeatures". The first arg of selectFeatures is a learner, which would normally be resampled like in the Kovavi-wrapper approach. Instead we would pass

[2016-01-19 08:01] berndbischl commented on #663
@schiffner

1) I have updated the properties docs  (weights was missing) and moved them to ?LearnerProperties.
I linked to this page from makeLearner and RLearner.

2) Would you please:
- Reread what I did and check?
- Make sure that the properties are visible in the "Extend Learner" section of the tutorial. You could link to LearnerProperties, but I guess here it is better to be redundant and exp

[2016-01-19 10:33] dominik-koch-tb opened #669 "Package glmnet causes error when auc measure is requested"
If **glmnet** is loaded after **mlr** then there will be an error when resample() is called.

[code]
If **mlr** is loaded after **glmnet** then everythink works fine.

-----------------------------------------------------------

[code]

[2016-01-19 11:26] schiffner commented on #663
@berndbischl Thanks for doing all this.
Sorry about `weights`, but good that you noticed. :) I'm reviewing now.

[2016-01-19 11:39] schiffner commented on #663
https://github.com/mlr-org/mlr/blob/ed71e529165a447f26860ce2569d4ca022b79527/R/Learner_properties.R#L15: prob is also applicable to multilabel and surv

[2016-01-19 11:55] schiffner commented on #663
That was the only thing I noticed. Thanks again.

[2016-01-19 13:35] berndbischl commented on #663
Ok, so I fix the "prob" thing, the tutorial is OK in your opionion, and we close here?

[2016-01-19 13:57] berndbischl commented on #669
That is nothing we can solve. But you can work around it easily.

glmnet exports object "auc" as well. So you need to write: mlr::auc to select the correct object.
(Basically our error msg tells you exactly that).

Now, we would actually like to load glment via requireNamespace instead of require, and mlr usually does that for learners. Then the problem would not appear. But for glmnet we have an

[2016-01-19 14:02] berndbischl commented on #669
Hmm, I just tried to load glmnet with "requirePackages".  I guess it works now and they fixed it. I will do a PR.

Thx for the hint.

[2016-01-19 14:04] dominik-koch-tb commented on #669
Thank you for the fast reply.

[2016-01-20 04:25] myloginid opened #672 "xgboost classification stops with the below error for CV = 4"
Hi,

Part of the code is as below. The below error is not documented in the code. Not sure where the problem is. Any help is helpful on this.

Thanks..

[Tune] Started tuning learner classif.xgboost.preproc for parameter set:
                    Type len Def     Constr Req Tunable Trafo
eta              numeric   -   - 0.1 to 0.3   -    TRUE     -
colsample_bytree numeric   -   -     1 to 2   -

[2016-01-20 04:28] larskotthoff commented on #672
Thanks for the report. Could you give us some more information? What does your data look like and where does the error come from? Could you try running sequentially and when the error occurs run `traceback()` please? It would be ideal if you could provide a complete example that allows us to reproduce the problem so we can investigate.

[2016-01-20 13:19] schiffner commented on #663
I would say it's not totally OK at the moment, but I'm working on it and we can close here anyway.

[2016-01-20 13:29] berndbischl commented on #26
See #663 for maybe more breaking examples and tests

[2016-01-20 13:29] #663 closed

[2016-01-20 19:02] #669 closed

[2016-01-21 10:29] myloginid commented on #672
Hey... Unfortunately I overwrote the code that was giving the error. The background is using xgboost for training the Kaggle Prudential Data Set gave me this error. I understand that without the code and the traceback it actually impossible to debug this. I will make sure I dont overwrite the code subsequently. Closing the bug for now.

[2016-01-21 10:29] #672 closed

[2016-01-21 10:35] myloginid opened #675 "Random Forest - Tuning allows Replace to be tuned, but cannot be set using setHyperPars"
Hi,
A small bug in RF Implementation. RF "replace" parameter can be tuned using makeParamSet. But when we set it using setHyperPars it gives the below error.

Code -
	ps = makeParamSet(
	makeDiscreteParam(id = "ntree", 	values = c ( 500, 600, 750 )),
	makeDiscreteParam(id = "se.method", values = c("bootstrap", "jackknife", "noisy.bootstrap") ),
	makeDiscreteParam(id = "replace", 	values = c ( 0,1

[2016-01-21 10:48] berndbischl commented on #672
Thanks for the feedback!

[2016-01-21 17:26] larskotthoff commented on #675
`replace` is a Boolean parameter, so you can only set it to `TRUE` and `FALSE`, not `0` and `1`.

[2016-01-21 18:42] berndbischl commented on #675
A few comments to help you

1) First of all the tuning does not work with the wrong "replace" parameter. I get this:

[code]

[code]

2) From your code I cannot guess what you wanna do exactly, but are you really sure that "se.mthod" can influence your results? do you really use the se estimation at all?

3) For random search to work, you do not need to discretize everything. you do know this righ

[2016-01-21 18:42] #675 closed

[2016-01-22 03:48] myloginid commented on #675
Thanks for the help..

1 - I understood the mistake of using Discrete Param instead of Logical Param for replace which is a logical value.
 makeDiscreteParam(id = "replace", values = c(0, 1)), --- Wrong
 makeLogicalParam(id = "replace" , values = c(0, 1)), --- Correct

2 - For random search to work, you do not need to discretize everything. you do know this right?
-- I did not know this. I was eit

[2016-01-22 08:53] filipre commented on #666
Looks good!

Regarding 1)
I think we don't even need the `features` parameter because that information could be already in the `task` parameter (like it is with custom learners in the [trainLearner](https://mlr-org.github.io/mlr-tutorial/release/html/create_learner/index.html) function)

To our background/implementation:
My team and I were evaluating mlr as a new framework in respect of feature se

[2016-01-22 11:24] myloginid opened #676 "GBM - Incorrect number of dimensions"
Hi.. I got an Error with GBM as "incorrect number of dimensions". I didnt get anything the mlr code base for this and it dosent look like a GBM error. Can you have a look pls...

	trainTask = makeClassifTask(data = train, target = "Response")
	trainTask = createDummyFeatures(trainTask)
	lrn = makeLearner("classif.gbm")
	lrn$par.vals = list ( verbose = 1, distribution = "gaussian"	)
	parallelStartS

[2016-01-22 17:12] larskotthoff commented on #676
Thanks for your report. Could you post a complete example (including data) please so we can investigate?

[2016-01-22 17:12] berndbischl commented on #676
I already figured out what is wrong

[2016-01-22 17:19] berndbischl commented on #676
1) Please, like Lars said, if you do such reports: Try to send in a fully reproducible example that we can run. Also, in the above case parallelization has nothing to do with the problem. So it would be good to leave it out of a minimal example.

2)
lrn$par.vals = list ( verbose = 1, distribution = "gaussian"    )

This line actually contains 3 mistakes at once.
a) You should not manually change t

[2016-01-22 17:19] #676 closed

[2016-01-22 17:32] berndbischl commented on #676
commit is here
https://github.com/mlr-org/mlr/commit/8d8438f70c3ae9b5e3065dcfcf3e81f5c0570c21

[2016-01-25 15:15] Bommert opened #678 "Problem with ranger prediction when there is only one dependent variable"
[code]

[2016-01-25 16:37] schiffner commented on #678
Hi,

Thanks for the report.

I managed to boil your example down a little more.
It seems to be a problem with ranger that occurs depending on which interface was used for training.

When passing a formula and the data everything works fine.
When passing instead the data and the name of the target variable the problems in predict emerge.
(The second variant is what mlr does internally.)

Would you

[2016-01-25 17:28] Bommert commented on #678
Thank you.
I just sent them an e-mail.

[2016-01-25 18:08] mllg commented on #678
I've create an issue upstream so that we also get updates.

[2016-01-26 15:38] mnwright commented on #678
Fixed in ranger.

[2016-01-27 00:27] schiffner commented on #678
@mnwright : Thank you very much for the quick fix.

And thx Michel, too.

[2016-01-27 06:41] berndbischl commented on #678
So I guess we close here? Any reason to keep it open?

[2016-01-27 06:42] berndbischl commented on #678
Has someone converted the reported example into a unit test?

[2016-01-27 08:38] mllg commented on #678
@mnwright wrote one for ranger.

[2016-01-27 08:38] #678 closed

[2016-01-27 10:08] myloginid commented on #676
Thanks for the info. I will use setHyperPars. For the basic parameters setting them directly in the par.vals is handy though.

[2016-01-27 10:57] berndbischl commented on #676
Please really use the appropriate setter. For convenience, please note that you can directly pass them to ?makeLearner. Even in 2 different ways: a) in the "dots" ... and b) as a list via "par.vals" (the arg of makeLearner)

[2016-01-27 22:12] jakobbossek opened #679 "Problems with feature selection"
I am experiencing an issue with the following code:

[code]

The first outer resampling iterations starts and at some time the computation fails with the following error message(s):
[code]

The same error occurs on both an OS X system and an Ubuntu installation. The sessionInfo() output on the latter is given by:
[code]

[2016-01-28 00:18] larskotthoff commented on #679
Thanks for the report. Can you give us some more information please?

- Does this occur only when you run in parallel or also sequentially? Can you run `traceback()` in the sequential case please?
- Does this occur only with the data you have or in other cases as well? Could you provide some example data?
- Have you tried with the current development version of mlr?

[2016-01-28 07:15] berndbischl commented on #679
Jakob, can you provide a hopefully drilled down version of the data for us , maybe in private?  Otherwise it is very hard to figure out what happens.

[2016-01-28 11:59] jakobbossek commented on #679
No problems when running this sequentially. I sent the dataset to Bernd already.

[2016-01-29 13:57] jakobbossek opened #682 "Nonterminating feature selection"
The following code produces an endless running feature-selection with and without using parallelism:
The R process does not react at some point in time anymore and I need to kill the R process.
I already sent the underlying data set to Bernd.

[code]

The error occurs with both the current release and the github version of mlr on my OS X 10.11.3 system and on our HPC cluster as well.
[code]

[2016-01-29 18:17] zmjones commented on #654
Sorry this took so long. I've now fixed the bug in the plot via `plotThreshVsPerf`. It was a somewhat subtle problem with the generation function and also a more obvious problem with the plotting functions.

Maybe we should now remove the dependency on `ROCR` though. Thoughts? I think it is weird that we rely on external measures via `ROCR` and then have our own set in mlr.

[2016-01-29 20:11] larskotthoff commented on #654
If we can remove the dependency easily, I'd be all for it.

[2016-01-29 20:13] zmjones commented on #654
As far as I am aware nothing depends on `ROCR` other than `generateROCRCurves` and `plotROCRCurves`. I will check all of this and push the fix and the dependency removal in separate commits. Maybe separate PRs as well?

[2016-01-29 20:29] larskotthoff commented on #654
Thanks, yes, separate PRs would be good if not too much hassle.

[2016-01-29 20:31] zmjones commented on #654
What are your thoughts on actually importing ggvis and shiny. Both are listed as imports in the description but are not actually loaded when mlr is attached. ggvis has one namespace conflict with another function "resolution" and so I was going to use `importFrom` and just import what is currently being used.

[2016-01-29 20:34] larskotthoff commented on #654
The latter sounds preferable (i.e. we only pull in what's necessary). Is that list still manageable or are we using so much stuff that it would become ridiculously long?

[2016-01-29 21:04] zmjones commented on #654
no it is fine i think

[2016-01-29 21:54] larskotthoff commented on #654
Ok cool then let's go for that.

[2016-01-30 14:29] studerus opened #687 "Problem with stacked wrapped learners"
When I slightly modify the first example of `makeStackedLearner` by wrapping one of the base learners with a filter wrapper, I get the following error:

[code]

[code]

Does anybody know what's the problem here?

[2016-01-30 21:47] schiffner commented on #654
I'm sorry I didn't have time to review earlier.

I just installed mlr (with the merged PRs), tried the above example and found that it doesn't work.
Do I miss something?

[code]

[2016-01-30 22:07] larskotthoff commented on #654
Ah, this should be "iter" instead "int". I'll fix this and add a unit test.

[2016-01-30 22:12] schiffner commented on #654
Thx.
I just also noted that the `learner` column of `$data` contains the string `"prediction"` instead of the learner name. It doesn't really hurt, but I don't think that this is intended.

[code]

[2016-01-30 22:14] larskotthoff commented on #654
Ok, I'll have a look.

@zmjones Turns out that the plots aren't rendered with the ggsave(...) commented out. So any errors don't actually show up. I've commented them back in for this file in the PR.

[2016-01-30 22:19] zmjones commented on #654
@larskotthoff Saving the plots doesn't make a difference if we aren't actually testing the svg though. You removed that for the new version of ggplot2 no? The plots are already being rendered.

@schiffner The only scenario I can envision this being a problem is when someone passes an unnamed list of resample predictions. This should only occur when the input is a single resample prediction, where

[2016-01-30 22:21] larskotthoff commented on #654
@zmjones I've added the test case without aggregation that triggers the bug Julia found and it ran fine. Only when I commented ggsave back in did the test fail.

[2016-01-30 22:22] zmjones commented on #654
hmmm that is odd. no idea why that would occur.

[2016-01-30 22:25] larskotthoff commented on #654
Well the plot object is lazily constructed and evaluated. If you don't reference it explicitly, nothing happens because the tests run "headless".

On the "prediction" in the learner column, as far as I can see the information on what learner was run isn't available where this is constructed (in `generateThreshVsPerfData.Prediction`). Did I miss something and there's an easy way to get this informa

[2016-01-30 22:31] zmjones commented on #654
Correct, because ResamplePrediction doesn't have a field for this. Shouldn't it though?

[2016-01-30 22:33] schiffner commented on #654
The `ResamplePrediction` has a `learner.id`slot, but a`Prediction` has no info on the learner.

[2016-01-30 22:34] zmjones commented on #654
Ah yea that is what I meant.

[2016-01-30 22:34] larskotthoff commented on #654
Can we pass that information along without it becoming too ugly? Otherwise the learner column is a bit pointless.

[2016-01-30 22:40] zmjones commented on #654
Yea I think that was already done in a similar fashion with `task.id`. We just need to add that to the method signature, document it, and then have it be `NULL` in all cases but this one.

[2016-01-30 22:51] schiffner commented on #654
If it's easier maybe we could just remove the learner column in case of only one learner.

[2016-01-30 23:26] larskotthoff commented on #687
Thanks for the report. The problem was that the properties for an ensemble were constructed using `extractSubList` and not the proper getter. I've opened a PR to fix this.

[2016-01-31 13:08] studerus commented on #687
Thanks for the fast bug fix! It works.

[2016-01-31 15:58] jakobbossek commented on #682
Ok, this is obviously not a mlr problem. The randomForest implementation occasionally hangs on constant features. I am going to write an e-mail to the randomForest package maintainer and Bernd will add a note in the documentation regarding this problem.

[2016-01-31 15:59] jakobbossek commented on #679
I will try to provide a more minimal example soon.

[2016-01-31 16:33] berndbischl commented on #679
I had no luck reproducing this, until now. The original code runs very long. I tried stuff like Holdout instead CV, less iters in CV, a higher alpha value, but all of this ran through fine, without an error.

[2016-02-01 09:19] berndbischl commented on #654
Have we reached a conclusion here? I am can check the API change and comment, but can somebody please summarize precisely the concrete proposal?

[2016-02-01 09:21] #687 closed

[2016-02-01 09:22] berndbischl commented on #687
@larskotthoff fixed this. thx.

[2016-02-01 12:39] schiffner commented on #654
**Problem:**

In case of a single learner and if the `obj` arg of `generateThreshVsPerfData` is a `ResamplePrediction` or a `Prediction` the `learner` column in the `data` slot of the returned `ThreshVsPerfData` object shows the string `"prediction"` and not the learner name.

**Possible solution:**

In case of a `ResamplePrediction` the solution is simple, because it contains the `learner.id`.

T

[2016-02-01 14:07] zmjones commented on #654
Yes I like @schiffner's solution better. I started to do it but didn't finish even though it is a short task. I just got to the office now and will have it done shortly.

[2016-02-01 15:46] berndbischl commented on #654
OK, I guess you got this sorted then :)
Ask if you need further feedback from me

[2016-02-01 15:58] zmjones commented on #654
Will do!

[2016-02-01 16:51] #654 closed

[2016-02-01 16:52] berndbischl commented on #654
ok thx @zmjones for doing this and thx to @larskotthoff for the other fix.

I guess there was no chance to add a unit test for the real issue right? as one basically has to look at the plot to see it?

[2016-02-01 16:57] zmjones commented on #654
yes that is correct. our svg testing could have caught this but it has been disabled post-ggplot2 update. i can look into getting it working again though.

[2016-02-01 16:59] berndbischl commented on #654
Maybe open up an issue for that? I guess it is helpful right?

[2016-02-01 17:02] zmjones commented on #654
Yea I think so. I will do that.

[2016-02-01 17:03] zmjones opened #692 "svg testing for plots"
after the ggplot2 update this was disabled as some of the default colors changed. i need to look at the saved plots, pick out the new colors, and re-enable the relevant tests.

[2016-02-01 17:15] larskotthoff commented on #692
Ideally, we'd have a way of automatically getting the colours (or some other way of identifying the elements we're interested in). I've had a brief look at this, but didn't see anything obvious.

[2016-02-01 17:51] zmjones commented on #692
yea that would be nice. did you have any ideas for doing that?

i think we could extract from the default theme the relevant information, but then we'd have to turn that into whatever color coding system is used in svg, which i guess is html color codes. this should be possible?

[2016-02-01 17:54] larskotthoff commented on #692
In principle that should work, and the colour definitions must be somewhere, I just didn't find them. Ideally, we'd be able to identify the elements by something else, but nothing came to mind there.

[2016-02-04 17:13] berndbischl commented on #547
this was fixed in
https://github.com/mlr-org/mlr/pull/694/files

@larskotthoff  @mllg @schiffner
Correct people if they do this wrong now in new PRs
And feel free to improves names if you see something that still not matches this scheme

[2016-02-04 17:13] #547 closed

[2016-02-05 02:07] njbernstein opened #697 "Parameter tuning for stacked learner"
Hi,

This isn't an issue an so much I can't figure out how to tune a stacked learner. Here's my attempt:

[code]

I get the error at the tuning step
[code]

Any help with this much appreciated. I'm new to this stuff as well, so any pointers would be great

[2016-02-05 04:11] larskotthoff commented on #697
This is because stacked learners don't support tuning of the parameters of the super learner at the moment. It looks like that shouldn't be too hard to add though.

[2016-02-05 04:51] njbernstein commented on #697
Great! Just let me know if there is anything I can do to help (e.g. testing or anything)

[2016-02-06 23:08] larskotthoff commented on #697
I've had a look at this and it seems that we'll need a new class for StackedLearners extending BaseEnsemble. @berndbischl Do you see a different way?

[2016-02-08 12:01] giuseppec commented on #697
Hi,

what you could do in the mean-time to get this working (I think there is 1 week left for your kaggle-competition) is the following:

[code]
Then you can create your super learner and tune this on the `trainTask2`. Hope this helps (maybe there is a typo in the code above, I did not test it).

Maybe we should split the "training of base learners" and "training of the super learner" in two indep

[2016-02-08 15:23] njbernstein commented on #697
Thanks so much for the help. Thats a nice elegant solution to what I wanted to accomplish. I'll do my best on Kaggle thanks again for your help

[2016-02-09 13:30] schiffner commented on #225
I was trying to explain all conventions in the tutorial and some questions came up.
One of my question is if what we agreed on about specifying the `par.set` really does make sense:

the underlying learner.

I guess what I wrote is wrong, at least with regard to `values`, `upper`, `lower`:

* Example: For `LiblineaR` we have several mlr learners for different value pairs of `type`.
  The default i

[2016-02-09 14:03] berndbischl commented on #586
1) the base class uses the wrong class in classstring
2) rferns needs to call the correct constructor

then we are done

[2016-02-09 14:24] schiffner opened #698 "Improve docs and add more tests for Friedman tests and critical differences plots"
To check the bug reported in #643 we need a test with at least three learners.

[2016-02-09 14:32] schiffner commented on #225
I talked with Bernd.
Consensus: In the special cases mentioned above the `default` in the `par.set` should be a feasible value (and what `makeRLearner.classif.LiblineaRL2SVC` does (`default = 2L`) is correct).

[2016-02-09 14:48] schiffner opened #699 "plotROCCurves"
Here is some nitpicky stuff I noticed about `plotROCCurves`:

* The docs for `obj` are wrong. It's an object of class `ThreshVsPerfData`.

* The docs for `measures` are misleading.
   It gives the impression that passing one single `Measure` is ok, although this makes no sense.
   It should say that you can only plot `measures` that were passed to `generateThreshVsPerfData`.

* The arg check that

[2016-02-09 16:19] schiffner commented on #699
For threshold values exactly 0 or 1 some measure values will be `NA` / `NaN`.
At the moment `plotROCCurves` can't cope with that.

[code]

[2016-02-09 16:22] schiffner commented on #699
A related question: `generateROCRCurvesData` etc. have been completely removed, right? I'm not sure what we agreed on. Shouldn't they be deprecated first?

[2016-02-09 16:29] zmjones commented on #699
Ok will fix the docs and will look into the other issue.

Maybe we should have deprecated the ROCR functions. Have we released to CRAN since they were removed? I definitely should have made it more of a discussion. If we bring them back they will need to be fixed a bit, since as you pointed out the ROCR generation/plot had some problems.

[2016-02-09 16:36] schiffner commented on #699
Thx.

I thinks that's not worth the effort.
@berndbischl: What's your opinion?

[2016-02-09 17:02] schiffner commented on #699
Sorry, me again. Noticed another small thing.

When passing `measures` to `plotROCCurves` it seems to plot the correct curves, but the axis labels are off.

[code]

[2016-02-09 17:49] schiffner opened #700 "plotThreshVsPerf"
Sorry, found another problem.

In the below plots there are separate lines drawn for each CV iteration, but the starting and end points are also connected, see example:

[code]

@zmjones: Sorry, I'm playing around with the ROC tutorial page and thus found a number of issues at once. :(  Let me know if you want help here or for #699.

[2016-02-09 18:34] zmjones commented on #700
what is the `ms` measure. mmce?

[2016-02-09 18:35] zmjones commented on #700
well that looks weird. never seen that before.

[2016-02-09 18:36] schiffner commented on #700
Oops. I used `ms = list(auc, mmce)`, but I guess it doesn't matter.

[2016-02-09 20:07] berndbischl commented on #699
@mllg @larskotthoff

Regarding the deprecation thing: Let us please IN GENERAL try to deprecate stuff. And fade it out very slowly. Thats is much better for other people. This means we will not really fix and maintain the older stuff anymore.

And I just talked to Zach. He says we should be fine by leaving ROCR out. So I will follow that.

Lets fix these soon and close this when we can

[2016-02-09 20:57] berndbischl commented on #697
Ok, 2 general things:

1) I have on person looking in depth at stacking during his masters. So we can hopefully expect more progress here in general.
(Hi Phillip)

2) I checked the stacking code. We actually support a lot of tuning already.
Tuning of all baselearner params already works, via inheritance from BaseEnsemble (actually I kinda forgot that I did when I looked first....)

Like Lars said

[2016-02-10 06:36] giuseppec opened #702 "Improve Stacking"
As discussed in https://github.com/mlr-org/mlr/issues/697 we need to change the stacking functions. Maybe something like:

1) makeStackedTask: should create a new task that contains the features (eg. only the CV predictions, CV predictions + original features... ) for stacking. Also we should allow repeated CV predictions (currently this is not supported).

2) building the superlearner should than

[2016-02-10 06:37] giuseppec commented on #697
Done: https://github.com/mlr-org/mlr/issues/702

[2016-02-10 06:37] #697 closed

[2016-02-10 09:16] berndbischl commented on #702
3) The hyperpars of the super.learner should be in the param set of the stacked learner. this is most simple and should be done first.

For 1) and 2) please post signature / API suggestions here before coding this.

[2016-02-10 15:50] njbernstein commented on #697
Awesome. Thanks so much

[2016-02-10 16:06] berndbischl opened #703 "reference ron kovavis paper for warpper feature selection"
http://ai.stanford.edu/~ronnyk/wrappersPrint.pdf

[2016-02-11 10:25] #637 closed

[2016-02-11 10:32] schiffner commented on #699
Thanks Zach for fixing all this stuff so quickly.

[2016-02-11 10:32] #699 closed

[2016-02-11 10:33] #700 closed

[2016-02-12 01:42] berndbischl opened #705 "Update docs of crit differences plots"
In this is PR @schiffner said:
https://github.com/mlr-org/mlr/pull/695

§The docs of friedman*TestBMR, generateCritDifferencesData, plotCritDifferences need some improvements. It's probably easiest if I just do a commit in this branch after you are done, Bernd."

[2016-02-12 01:44] berndbischl commented on #705
I would be great if you
1) could update the docs
2) if while you do that you see some easy clean ups in the code, go for it please
3) can you transform the detected problem in the PR thread into a unit test?

[2016-02-12 01:46] berndbischl commented on #593
handled in PR
https://github.com/mlr-org/mlr/pull/695

[2016-02-12 01:46] #593 closed

[2016-02-12 01:50] #586 closed

[2016-02-12 02:10] berndbischl commented on #235
@schiffner
Julia, this is in master now.
Would you please check whether you think it is OK now?
Then you can close please

[2016-02-12 02:15] berndbischl commented on #662
I guess we add the families with hyperpars in the following way:
We set a default for their hyperpars.

We also introduce some a new param family2 (or whatever) which is untypped and you can pass what you want.

ok?

could you do that?

[2016-02-12 02:16] berndbischl commented on #682
@jakobbossek
did you write the mail? any news?

[2016-02-12 02:22] berndbischl commented on #682
i added the note and will close here

[2016-02-12 02:22] #682 closed

[2016-02-12 02:23] berndbischl commented on #679
Please reopen when you have a workable example

[2016-02-12 02:23] #679 closed

[2016-02-12 06:16] giuseppec commented on #702
Here a very coarse pseudo-code:

[code]
Got the idea? So we could apply a superlearner on this new "level 1" task and tuning works as usual.

[2016-02-12 09:44] berndbischl opened #706 "mini xgboost issue, problem with softprob"
this was reported

[code]

[2016-02-12 09:45] berndbischl commented on #706
I already have a partial fix in branch
fix_xgboost

[2016-02-12 09:45] berndbischl commented on #706
also note my comments there, we should probably report this to xgboost

[2016-02-12 10:53] mb706 opened #707 "ModelMultiplexer fails when learning from task with no features"
When a ModelMultiplexer model is generated from a task with no features and then used to predict, an error is thrown:
[code]

[2016-02-12 11:02] mb706 opened #708 "classif.glmboost parameters `trace` and `stopintern` lead to error when given."
The learner `classif.glmboost` has the parameters `stopintern` and `trace` in its ParamSet, but gives an error when these are given.
[code]
[code]

[2016-02-12 11:14] berndbischl commented on #706
also we should reread the paramset, not all params are tuneable for example (printers, nthread etc)

[2016-02-12 11:27] berndbischl commented on #602
@schiffner

I really need to upload and check the package as a whole now.
Would you take over this for 2.9, you seem to have already figured out what is wrong.
Simply adapt and do a PR.

[2016-02-12 11:32] schiffner commented on #602
Ok, will do.
Sorry for not getting back to this sooner.

[2016-02-12 11:33] berndbischl commented on #702
So it takes certain base.learners, which have parameters maybe changed, and return a task which contains their predictions?

I guess I like that

[2016-02-12 11:43] schiffner commented on #705
I can try to come up with tests for the "changing the `baseline`" problem (#695) and the earlier bug (in #643).

A general question about any tests for this: I never fully understood why mlr was broken on CRAN.
Any advice so that I don't accidentally build in a similar problem again?

[2016-02-12 11:47] schiffner commented on #698
See #705.

[2016-02-12 11:47] #698 closed

[2016-02-12 11:48] berndbischl commented on #705
2 answers:

a) mlr was broken on cran because ggplo2 was API-changed. and @pfistfl simply created a unit test which with 1% probability failed, beacause it was stochastic and lets say sub-optimally designed.
So this does not really concern you.

b) look at what @zmjones and @larskotthoff did to test correctness of plots and talk to them. because this seems to be the problem here, right?

[2016-02-12 12:26] schiffner commented on #705
Can I rename the `p.value` arg?
I don't know why I missed that before, but you don't pass a p-value to a test, but a significance level.

[2016-02-12 12:43] berndbischl commented on #705
yes do that

[2016-02-12 13:21] mb706 opened #711 "Automatically test learners' ParamSets by comparing default params to no params"
Some of the included learners seem to have parameters listed in their ParamSet that do not work for some reason (typo in parameter name, trainLearner.XXX goofs it up, ...) or may be set to the wrong default. An efficient way to prevent these bugs to some degree would be to test that each learner's behaviour when no hyperparameters are set is the same as the behaviour when the hyperparameters are s

[2016-02-12 15:22] schiffner commented on #235
@florianfendt: Thank you very much for doing this.

I had a short look at code and docs. And I extended the examples on the tutorial page on cost-sensitive classification. Everything looks good and works fine, so I will close here.

[2016-02-12 15:22] #235 closed

[2016-02-12 15:24] berndbischl commented on #235
perfect! thx

[2016-02-12 16:07] berndbischl opened #712 "Featureless dummy learners"
For comparisons it is nice to have models which predict y, but dont use the features at all.

For classification, this is either a simple majority vote, or sampling from the prior distribution.
For regression it could be the simply the mean.

Franz Kiraly  requested this.  I have started to work on it in this branch.
https://github.com/mlr-org/mlr/tree/create_featureless_dummy_models

scitkit lear

[2016-02-12 18:32] berndbischl opened #713 "partialprediction with GGVIS, some smaller issues"
Hi,

Lets use this code as background for this thread:

[code]

a) So the above works nice. But if I forget to set "interaction = TRUE" I can still run  plotPartialPredictionGGVIS, with interact = "agegroup". The plot looks broken. We should instead just throw an error.  This should also be unit tested.

b) Now remove the ineraction = TRUE and also interact = "agegroup". The plot is broken as well

[2016-02-12 19:33] ja-thomas opened #714 "training regr.randomForest fails for data frame tbl. (dplyr)"
When training `"regr.randomForest"` with an `tbl.df` data.frame from dplyr, the `train()` function crashes

mwp:
[code]

[code]

Seems to have something to do with the `[,drop=TRUE]` that is ignored by `tbl.df` data frames.

[2016-02-12 20:06] zmjones commented on #714
a `tbl.df` is not quite a regular `data.frame` for the reason you suggest. Cast your data to an actual `data.frame` in the task creation bit and it will work as expected. As you can [see](https://github.com/mlr-org/mlr/search?q=dplyr&type=Issues&utf8=%E2%9C%93) we have talked about this a bit and as far as I know we should be at least checking this.

[2016-02-12 21:40] berndbischl commented on #714
Its basically the same as in here
https://github.com/mlr-org/mlr/pull/253
https://github.com/mlr-org/mlr/issues/273

I guess what we should do for now, we call as.data.frame and warn about the conversion?

[2016-02-13 20:47] berndbischl opened #716 "subsetTask and getTaskData should also allow integer indices for features"
it is much nicer if we dont have to do this always
getTaskFeatureNames(task)[1:3]

[2016-02-13 20:48] berndbischl commented on #716
are there other functions to consider?

[2016-02-15 14:14] jakob-r opened #718 "Implement mlrMBO changes in mlr"
I am on it

[2016-02-15 15:23] jakob-r opened #719 "tuning: We store transformed x-vals in opt.paths."
But some part's in the code indicate that we actually want to store the original values.
What should we agree on?

[2016-02-15 15:31] rgmantovani opened #721 "RMSE measure names out of the pattern"
Hi,

this is just a simple thing: the rmse (column) name returned by resample is different from the pattern.
For example, if I run this:

[code]

it returns:
[code]

Just **rmse** is different here. It is just a simple renaming from **_rmse.test.rmse_** to **_rmse.test.mean_** would be the case, I guess.

My sessionInfo:
![screen shot 2016-02-15 at 3 53 45 pm](https://cloud.githubusercontent.com/a

[2016-02-15 15:59] jakob-r commented on #507
Should I go for it again? I can't exactly remember what the reason was for PR #506

[2016-02-15 16:09] berndbischl commented on #507
We can do it, but have to define it in a meeting. Remember how we screwed this up last time?

I can give you a dozen simpler issues if you simply wanna help clear up the tracker.

[2016-02-15 16:10] berndbischl commented on #507
The reason for the reverted PR was that the system was broken, and the API that was implemented there was not optimal.

[2016-02-15 16:19] berndbischl commented on #719
what "parts"?

[2016-02-15 16:25] jakob-r commented on #719
https://github.com/mlr-org/mlr/blob/master/tests/testthat/test_tune_tuneGrid.R#L16-L27

[2016-02-15 17:09] berndbischl commented on #451
ping @jakob-r
you wanted a issue, do this. it does not have to be 100% complete

[2016-02-15 17:17] schiffner commented on #721
Hi,

thanks for the report.

You are right that this is out of pattern, but it's not a bug. The names `mse.test.mean` etc. indicate 1) the performance measure and 2) the aggregation scheme used to combine the performance values from single resampling iterations.
The default aggregation scheme for the root mean square error in mlr is `test.rmse` (which calculates sqrt(mean(rmse.vals.on.test.sets^2)

[2016-02-15 20:06] mb706 opened #724 "ModelMultiplexer errors not handled well when on.learner.error=="warn""
When the ModelMultiplexer `trainLearner` function throws an error and the `on.learner.error` mlr-config is set to "warn" or "quiet", the resulting object will cause errors when handled further:
[code]

[2016-02-15 21:03] mb706 commented on #598
To add to my last comment: The workaround I had proposed fails hilariously when there is, for example, a hyperparameter `c` and the "requires" also calls the vector concatenation function `c` (as in `c(1, 2, 3)`).

My current workaround involves quite some hacking; please tell me if there are more elegant ways of doing this. The hack:
[code]
and then
[code]

[2016-02-15 23:27] mb706 opened #726 "Enable fine-grained control over error handling in wrappers"
Currently, when mlr decides about how to handle an error, it queries the learner's options and defaults to the mlr configuration if none are given. When the learner in question is a wrapper (inheriting BaseWrapper), only the options of the "LeafLearner" (as per `getLeafLearner` in helpers.R) are taken into account. This imho misses an opportunity to give fine grained control over how to handle wha

[2016-02-16 13:05] jakob-r commented on #721
I think this is very well answered and can be closed.

[2016-02-16 13:08] schiffner commented on #721
@rgmantovani : Please feel free to reopen if there are further questions.
For now I'm closing.

[2016-02-16 13:08] #721 closed

[2016-02-16 15:21] mb706 opened #728 "classif.gaterSVM and classif.dcSVM predict() fail if the target column is not named "Class""
...which is not caught in the tests for that reason.
[code]
[code]

[2016-02-16 15:27] jakob-r commented on #714
Done in PR #723, waiting for Travis and Bernds approval

[2016-02-16 15:51] mb706 opened #729 "classif.gaterSVM and classif.dcSVM predict() fails if prediction is the same for all data"
Constructed example for classif.dcSVM:
[code]
classif.gaterSVM fails even with my fix for #728:
[code]

[2016-02-16 18:00] #728 closed

[2016-02-16 18:00] #729 closed

[2016-02-16 18:08] berndbischl commented on #714
just so you dont do it again, please add a space after "if" and before "("
sorry :)

[2016-02-16 21:20] mb706 opened #731 "{classif,regr}.{gbm,bdk} parameter keep.data not used"
The `trainLearner` function of `classif.gbm`, `regr.gbm`, `classif.bdk` and `regr.bdk` all give the parameter `keep.data` explicily as `FALSE` to the learner call inside `trainLearner.XXX`, ignoring the parameter declared in their ParamSet.

When `keep.data` is given, the learner crashes:
[code]
[code]
etc., similar for `*.bdk`.

Either `keep.data` should be removed from the ParamSet or the parame

[2016-02-16 22:13] mb706 opened #732 "Some parameters of classif.ada do not work."
Because of something that might be a bug in `ada::ada`, it throws an error whenever there are extra args in the `...` that don't match `formals(rpart::rpart)`. That means `rpart.control` parameters can not be used, since they fall inside the `...` of `rpart::rpart`.

The parameters in question are
- minsplit
- minbucket
- cp
- maxcompete
- maxsurrogate
- usesurrogate
- surrogatestyle
- maxdepth
-

[2016-02-16 22:57] mb706 opened #733 "classif.dcSVM: "kernel" parameter broken."
The kernel parameter to `e1071::svm` differs from the kernel parameter for `SwarmSVM::dcSVM`: it must be one of "linear", "polynomial", "radial", "sigmoid" instead of 1, 2 or 3. Since `trainLearner.classif.dcSVM` sometimes uses `e1071::svm` instead of `SwarmSVM::dcSVM`, the parameter should be adapted in this case.

[code]
(note the error message comes from inside (`e1071::`)`svm.default`)

[2016-02-16 23:56] mb706 opened #734 "{regr,classif}.glmboost: default 'risk' to "inbag" when m == "aic""
It looks like `classif.glmboost` will fail when `m` == `"aic"` and `risk` != `inbag`. I suggest adding the requirement `m != "aic"` to parameter `risk`.

[code]

(Also the true default value is `inbag` already, it would make sense to declare it as such in the `classif.glmboost` ParamSet:

[code]

should be `"inbag"`, not `NULL`.)

[2016-02-17 00:43] mb706 opened #735 "Set classif.PART & classif.J48 parameter requirements"
WEKA checks some of the parameters for these algorithms and throws an exception when they are conflicting. This should be reflected in the mlr ParameterSet for these learners.

For **classif.PART**, an error is thrown when:
- `R` is set and `C` is given
- `N` is given and `R` is not set

For **classif.J48**, an error is thrown when:
- `U` and `S` are both set
- `U` and `R` are both set
- `U` is se

[2016-02-17 02:20] mb706 opened #736 "classif.neuralnet parameter linear.output broken"
Similar to #731, `linear.output` is set explicitly in `trainLearner.classif.neuralnet` and therefore leads to a bug if also given as hyperparameter:
[code]

[2016-02-17 08:50] berndbischl commented on #736
but for classif we never want linear output?
so i guess we simply remove the hyperpar, and add a note

[2016-02-17 13:51] mb706 opened #739 "classif.ksvm and classif.lssvm 'kernel' parameter has invalid option "stringdot""
This seems to be a bug with documentation, since the help page mentions that "stringdot" should be an option. However:
[code]
(similar with classif.lssvm).

As the output mentions, another option that would be available but is not offered by the ParamSet is `"matrix"`.

[2016-02-17 16:00] zmjones opened #740 "subsampling ensemble variance estimator"
in [this paper](http://arxiv.org/abs/1404.6473) the authors derive a random forest algorithm where the predictions can be viewed as U-statistics, which have an asymptotic normal distribution, and they give estimators for the variance parameter of this limiting distribution.

the algorithm is basically a random forest where the data for each tree are subsampled but this is nested within a sample of

[2016-02-18 01:28] tijoseymathew commented on #739
The error is actually being thrown by `kernlab` and not `mlr`. This is because the `stringdot` kernel is supported only by the list method of `ksvm`. The present `mlr` interfaces through the `formula` method which does not support `stringdot` kernels.
The `matrix` kernel is not supported as per comments [Line 46](https://github.com/mlr-org/mlr/blob/master/R/RLearner_classif_ksvm.R#L46)
`ksvm` lear

[2016-02-18 17:12] berndbischl commented on #739
we also dont support string data in anyform at the moment correct?
So I guess we simply remove it.

[2016-02-19 10:07] mllg opened #744 "Use stringi internally"
We should use stringi for all string operations. Grep for "substr", "grep", "regex".

[2016-02-19 10:09] mllg opened #745 "Cleanup unused variables"
Here is a snapshot of currently unused variables:

[code]

[2016-02-19 10:19] berndbischl commented on #745
is it possible we autogen this on the server?

[2016-02-19 10:20] berndbischl commented on #744
Please note: if we ever clean this up, we might have to make a note the coding giudelines + check for it later.

[2016-02-19 11:05] berndbischl opened #746 "reenable PPWrapperCaret unit test"
there is a problem on CRAN we get this on travis

namespace ‘nlme’ 3.1-122 is already loaded, but >= 3.1.123 is required

quite a few packages have this on the cran check, possibly a bug in R. I now disabled the unit test in
tests/testthat/test_base_PreprocWrapperCaret.R

[2016-02-19 11:26] berndbischl opened #747 "review BMR merge functions."
why do we actually have 2?

[2016-02-19 15:21] mb706 opened #749 "Allow tuning with time budget"
Currently, `tune` and/or `tuneControl` seem to only allow control over the number of evaluations to perform when tuning, but giving a time budget would also be useful. A simple way to implement this would be to use `R.utils::withTimeout` at and keeping track of the elapsed walltime in some way.

This allows relatively fine-grained control over the runtime, even R-based learners that run for a long

[2016-02-19 15:39] mb706 opened #750 "Include stack trace in FailureModel / failed predict results"
Having `FailureModel`s give precise information about errors when `on.learner.warning != stop`, maybe combined with an `extract` argument given `resample` and `tuneParams` that filters out FailureModels, would be very useful for debugging. Similarly if one could extract error information about failed predictions in `resample` / `tuneParams`.

One could catch tracebacks inside errors similarly to h

[2016-02-19 20:10] mb706 opened #751 "Make information about learners easily accessible."
It would be nice if there were more information about the learners easily accessible, regarding
(**1**) the thing they actually do (e.g. `help(the_function_actually_called_inside_trainLearner)`). Right now one would need to use the appendix of the tutorial to get this information.
(**2**) maybe specific information about their workings within mlr or user experience.

**To (1):** It would be useful

[2016-02-21 11:37] enricoferrero opened #753 "Add extra features to task after feature selection"
I have two sets of features for my observations, a large one (tens of thousands) and a small one (around ten).

I would like these feature sets to be more or less balanced when training my model.

My strategy has been to create a task with the first feature set and perform an aggressive feature selection with mRMR. Now I would like to add the second set of features to my task.

What is the best wa

[2016-02-22 09:40] jakob-r commented on #753
Are you asking for technical help? If you have a filtered Task like in [this tutorial part](http://mlr-org.github.io/mlr-tutorial/devel/html/feature_selection/index.html#filter-methods) then you can get the filtered data.frame with `getTaskData(fitered.task)`, `cbind` it with your small feature set data.frame and create a new Task out of that.

[2016-02-22 09:59] jakob-r commented on #751
This is a quite extensive suggestion. I also note that the different learners could be documented more detailed.
I don't like the idea of a command line help interface so much as it is really unhandy. I prefer a more detailed and automatically generated documentation in the mlr tutorial. Obviously this should be mentioned in the internal documentation to not leave the user clueless.
Information ab

[2016-02-22 10:07] enricoferrero commented on #753
Thanks - that makes sense. I was just wondering if there was a specific method (similar to dropFeatures()) that should be used.

Is it better to ask this type of technical questions here or on StackOverflow with tag mlr?

[2016-02-22 10:14] jakob-r commented on #753
1. `dropFeatures()` does more or less the same by returning you a task object but leaves you more choices on which feauters do you exactly want to drop. `filterFeatures()` is the more automatic approach.
2. Theoretically yes, but I have to sign up for email updates on those questions then ;) (I will do this now)

I will close. If you have questions left feel free to reopen.

[2016-02-22 10:14] #753 closed

[2016-02-22 14:20] mb706 opened #755 "Mark the logical parameters of Weka learners as default FALSE"
The RWeka learners usually take user arguments by initializing a `RWeka::Weka_control(...)` object, which will usually be passed to the Java class's `setOptions()` internally with the Weka_control objected _converted to character_. Looking into `RWeka:::as.character.Weka_control` one sees that a logical parameter, e.g. `S`, is converted to the string `"-S"` if the value is `TRUE` and is _discarded

[2016-02-23 09:04] mb706 commented on #751
Something in the direction of
[code]

[2016-02-23 09:27] jakob-r commented on #755
I would be very grateful if you just combine everything in your PR #752. I will try my best to get it merged fastly :wink: :+1:

[2016-02-23 09:43] jakob-r commented on #751
Well yeah kind of. But the problem is obviously that we don't have the slot `$callees` :wink: . So somebody would have to do that for all learners. But before you put more time into it let's find a good solution so that you don't code in vain.

[2016-02-23 12:03] berndbischl commented on #751
1) I agree that what Martin suggests in point 1) is extremely helpful and I would definitely use it. Note that even from the appendix page we dont directly link to the called training function, but only to the package. So it is not perfectly convenient to reach the help page.
And thanks for the mlrHelp code. Sounds like a student assistent task, to add the meta info slot to the learners.

2) I can

[2016-02-23 15:29] larskotthoff commented on #751
Sounds good.

[2016-02-23 17:56] philippstats opened #756 "classif.blackboost cannot use 'stump' argument properly"
Running
`lrn = makeLearner("classif.blackboost", stump = TRUE)`
`train(lrn, task = pid.task)`
throws following error:
`Error in mboost_fit(bl, response = response, ...) :
  unused argument (stump = TRUE)`

Within `trainLearner.classif.blackboost` `stump = TRUE` should be passed to `ctree_control` which is not possible (no `stump` argument, no `...`)

[2016-02-25 01:19] berndbischl commented on #756
Fixed in
https://github.com/mlr-org/mlr/commit/e73f63b9849b8c964b10291d45a309ac70d2f549

[2016-02-25 01:19] berndbischl commented on #756
thx.

[2016-02-25 01:19] #756 closed

[2016-02-25 04:16] tijoseymathew opened #757 "Passing ResampleInstance to tuneParams with control set to irace fails"
A `ResampleInstance` does not work with `irace` although it is a valid argument for `tuneParams`. I understand this is to create the [multiple instances](https://github.com/mlr-org/mlr/blob/master/R/tuneIrace.R#L25).  But maybe we could, add a default resampling ('Subsample'?) on the train subset of task if a `ResampleInstance` is passed.

[2016-02-25 09:36] jakob-r commented on #757
I could not reproduce what you mean. Can you post a minimal working example?

[2016-02-25 09:42] tijoseymathew commented on #757
`ps = makeParamSet(
  makeNumericParam("C", lower = -12, upper = 12, trafo = function(x) 2^x),
  makeDiscreteParam("kernel", values = c("vanilladot", "polydot", "rbfdot")),
  makeNumericParam("sigma", lower = -12, upper = 12, trafo = function(x) 2^x,
                   requires = quote(kernel == "rbfdot")),
  makeIntegerParam("degree", lower = 2L, upper = 5L,
                   requires = quote(ke

[2016-02-25 10:03] jakob-r commented on #757
Okay it was my mistake. We indeed prevent `ResampleInstance`s to be passed in `tuneParams`. Anyhow, what we do by default is `makeTuneControl*(same.resampling.instance = TRUE)` which leads to a fixed `ResampleInstance` used during tuning. This obviously doesn't give you full control over the train and test splits but in your example it also would not make much sense, as it splits all `virginica` t

[2016-02-25 10:18] tijoseymathew commented on #757
I think `ResampleInstance` is a valid [parameter](https://github.com/mlr-org/mlr/blob/master/R/tuneParams.R#L16). At least it seems to work with `makeTuneControlGrid`

It was meant to be a MWE! I did not check the classes :-)

So what would you recommend if I needed to tune the parameters only on a subset of the task. Of course, I can create two separate task...
Also is there a particular re-sampl

[2016-02-25 14:07] mb706 opened #759 "getHyperPars for learner with no hyperpars should return empty *named* list"
... for consistency. Sometimes it does:
[code]
This can make a difference, e.g. when trying to reset hyperparameters (using `invisible()` for clarity):
[code]

[2016-02-25 15:25] mb706 opened #760 "ModelMultiplexer does not pass on hyperpars to predict function that have when="both"."
#649 does not go far enough. I wrote a small environment that tells us which parameters are visible:
[code]
Now testPS tells us what parameters were given. The learner itself does what we expect:
[code]
If we make a ModelMultiplexer, the `when="both"` param is dropped:
[code]
I would expect `$tpBOTH` in the last output.
_(edit: forgot one line in last code snippet)_

[2016-02-26 19:34] kapelner commented on #663
I am the maintainer of bartMachine. You need to pass in use_missing_data = TRUE in order for bartMachine to handle missing data natively. By default this is turned off. Unsure how this is handled inside mlr. It is possible mlr wants to turn it on by default.

I'm releasing a new version that will fix a lot of previous issues with bartMachine soon.

[2016-02-26 19:35] kapelner commented on #663
Just to clarify: bartMachine does not impute... it handles missingness natively. If you want to use it to impute, you can run a algorithm similar to missForest using bartMachine. We have not done so but we believe it to be a nice contribution.

[2016-02-26 19:37] kapelner commented on #203
So is use_missing_data = TRUE set by default now?

[2016-02-27 12:00] schiffner commented on #663
Thx. I checked the learner definition. use_missing_data is set to TRUE by default.

[2016-02-28 00:40] kapelner commented on #421
I just upgraded bartMachine to 1.2.1 please try it now.

[2016-02-28 00:41] kapelner commented on #422
This is now fixed in v1.2.1. Please upgrade. Sorry for the delay on this...

[2016-02-29 10:48] berndbischl commented on #422
reopening this. We need to look at this, whether we can readd bartmachine again

[2016-02-29 10:48] berndbischl commented on #422
and then recheck this issue

[2016-02-29 20:35] hadley opened #766 "mlr fails R CMD check with dev ggplot2"
Because ggsave now uses svglite for svg output, so you'll need to add `svglite` to your suggests file. Please fix and submit to CRAN ASAP.

[2016-03-01 01:36] larskotthoff commented on #766
Thanks Hadley. We'll do that and make a new release ASAP (we're currently having some other issues that need to be fixed first).

[2016-03-01 02:16] zmjones commented on #766
I'll look into it and see if I can fix it tomorrow.

[2016-03-02 21:02] kerschke opened #767 "expressions in learner params"
As mentioned in [PR #82 from ParamHelpers](https://github.com/berndbischl/ParamHelpers/pull/82) I started to use expressions within the mlr learners. The first steps have already been made, as you can [see here](https://github.com/mlr-org/mlr/compare/master...kerschke:expression).
In general, it is now possible to define expressions within the parameters of a learner. However, due to the high comp

[2016-03-03 06:07] larskotthoff commented on #733
Thanks for the report, this is fixed in #768.

[2016-03-03 06:20] larskotthoff commented on #766
I've commented the failing tests for now -- the structure of the generated SVGs is completely different now and our xpaths don't match at all anymore.

[2016-03-03 06:29] larskotthoff commented on #731
I didn't see a reason why `keep.data` isn't passed through so I've fixed this, but Bernd may know why it was implemented like this in the first place :)

[2016-03-03 06:33] larskotthoff commented on #736
Agreed. I've done that in the PR.

[2016-03-03 06:37] #735 closed

[2016-03-03 06:37] #755 closed

[2016-03-03 08:41] mb706 commented on #767
Do you plan this to work with wrappers that change properties of a task (e.g. a feature selection wrapper removing features), or will you drop the expressions when building a wrapper? I guess it wouldn't be such a problem if you have `default=expression(sqrt(p))` (since the default doesn't influence actual behaviour), but `len=expression(p)` could be a problem.

[2016-03-03 09:45] berndbischl commented on #760
shouldnt we add this as a test? I guess I will do this. Please always do this.

[2016-03-03 10:08] berndbischl opened #773 "remove PH generic getParamSet"
See this diff here.
https://github.com/mlr-org/mlr/commit/eed0eb96279a3b1a518c22e862444ff3ec00e746

We need tu upload now, this will slow it down. Will add again after 2.9.

[2016-03-03 10:27] berndbischl opened #774 "recheck listLearners refactoring by michel"

[2016-03-03 10:28] berndbischl commented on #774
might be unfinished in little details

[2016-03-03 13:57] mb706 commented on #757
The point of irace is to test the parameter configurations for the learner on _different_ problem instances (i.e. different `ResampleInstance`s) (read the [paper](http://iridia.ulb.ac.be/IridiaTrSeries/IridiaTr2011-004.pdf) if you want) to see which configurations perform best statistically; giving only one ResampleInstance would defeat this purpose. If you want to see which configuration performs

[2016-03-03 14:18] mb706 opened #777 "tuneParams/IRace fails with requirements depending on non-character discrete params"
[code]

Oh well. If we look into the debugger, we see this is because...

[code]

... irace sees R as a discrete (string) variable. This can be fixed by substituting all occurrences of logical parameters `x` in a requirement with `(x == "TRUE")`.
Or put it in the documentation somewhere and maybe message when `any(unlist(lapply([paramrequirements], all.vars)) %in% [logical param ids])`, so the use

[2016-03-03 15:07] kindlychung commented on #421
@kapelner What went wrong and how did you solve the issue? I am also having this problem with one of my packages that depend on rJava. Thanks!

[2016-03-03 15:10] kapelner commented on #421
Unsure... you'll have to wait for lars to rerun and see if what I did fixes it.

[2016-03-03 17:13] larskotthoff commented on #760
Well the problem with testing this is that the code posted above relies on `print` (and then looking at the output) to do it. I guess there could be a hacky way with globals to check this in a unit test?

[2016-03-03 17:18] larskotthoff commented on #421
Thanks for updating -- we're having some other issues with Travis now, but as soon as that's sorted out I'll have a look at this.

[2016-03-03 18:27] mb706 commented on #760
there is always `expect_output`

[2016-03-03 19:23] berndbischl commented on #760
expect_output for this seems fine to me? why not?

[2016-03-04 11:23] mb706 opened #779 "tuneParams/IRace fails when optimum params have NAs through requirements"
[code]
Same for
[code]
but
[code]
works. It is because `tuneIrace` [incompletely converts from parameter values to their names as irace sees them](https://github.com/mlr-org/mlr/blob/90d40002a35ad3770d6699e48d02292fe932159a/R/tuneIrace.R#L44-L45) and gets hiccups on NAs (and probably also for discrete params that are not characters).

[2016-03-04 17:15] mb706 commented on #779
Turns out the problem happened only when a variable is never feasible during a search run (and hence the opt.path column contains only `NA`s), this happens if the number of parameters and dependencies is big enough.

[2016-03-05 13:27] mb706 opened #781 "makeTuneControlRandom(budget=...) shouldn't give an error"
Minor nitpick, but imho
[code]
shouldn't be.

[2016-03-05 14:00] mb706 opened #783 "Add argument fix.factors.prediction to makeRLearnerClassif"
... or make the `$fix.factors.prediction` slot default to something. Otherwise, the object resulting from `makeRLearnerClassif` is incomplete and one needs to set it manually after creating the learner -- or get an error when predicting:

[code]

[2016-03-08 04:56] #708 closed

[2016-03-08 05:29] #707 closed

[2016-03-08 05:30] #714 closed

[2016-03-08 10:02] jakob-r commented on #781
I am with you but please let us only discuss in PR #782

[2016-03-08 17:17] schiffner commented on #602
The randomForestSRC learners are done. Will do the randomForestSRCSyn learners next.

[2016-03-08 23:08] larskotthoff commented on #766
This issue is fixed in master and we'll make a release in the next few days. Closing.

[2016-03-08 23:08] #766 closed

[2016-03-08 23:33] #760 closed

[2016-03-09 00:32] #422 closed

[2016-03-09 00:34] larskotthoff commented on #512
@berndbischl Do we want to include this in 2.9?

[2016-03-09 00:34] larskotthoff commented on #619
@berndbischl Could you post an example where this is a problem please?

[2016-03-09 00:43] larskotthoff commented on #117
Should this issue be moved to the tutorial tracker?

[2016-03-09 05:10] larskotthoff commented on #668
The problem in this particular case is that the knn model only fails when predicting, not during training. For this we don't have any kind of error message saving in place at the moment -- the `predict` column of that data frame will always be `NA`.

I've added a new member `error` to `Prediction` and put any messages in there so that they appear in the appropriate place. This is in #784, please c

[2016-03-10 21:30] mb706 opened #787 "Enable preprocessing with weights"
I haven't found a way to do preprocessing, `makePreprocWrapper`-style, with weights.

[2016-03-13 18:04] mb706 opened #788 "predict.WrappedModel gives warning when on.learner.error == "quiet""
(... if `on.learner.warning == "warn"`)
The culprit is [this](https://github.com/mlr-org/mlr/blob/1d2c1dfdf53e66d6c529880449775659291e68c8/R/predict.R#L117) line, it should be
[code]
(instead it is 'on.learner.**warning** == "warn"'.)

[2016-03-13 18:54] #736 closed

[2016-03-13 18:58] #739 closed

[2016-03-13 19:30] mb706 opened #789 "listLearners fails when another package implements a makeRLearner method"
As does, for example, **mlrMBO**.
[code]

[2016-03-14 13:09] mb706 opened #791 "ModelMultiplexer should have the 'properties' of the currently active learner"
When creating a `ModelMultiplexer` from learners with different `$properties`, the resulting object has only the `$properties` that result from the set intersection of all the involved learner's properties. This results in ModelMultiplexer object being overly restrictive IMHO:

[code]

(even though the involved `"regr.lm"` learner is able to handle the `bh.task`:

[code]

)
This behaviour gets in

[2016-03-15 19:36] larskotthoff opened #792 "Document release process with commands to run"
With rt:

    rwinbuild
    rwinbuild --devel
    rbuild

Anything else?

[2016-03-17 22:38] pfistfl commented on #706
Additionally some params that are not documented in the r-package are missing, ```max_delta_step```
for example.
Those are documented in https://xgboost.readthedocs.org/en/latest/parameter.html though

[2016-03-22 14:27] jakob-r commented on #791
We have `getLearnerProperties` so I guess we just need a special `predictLearner.ModelMultiplexer` instead of [this strange line](https://github.com/mlr-org/mlr/blob/213ae635512810a48c670a0aae2e924a0ff544f6/R/BaseEnsemble.R#L58). But I admit that I am unsure of the implications this might have.

[2016-03-23 14:53] PhilippPro opened #802 ""Coefficients" for Interpretation"
I recently talked with a social scientist who wants to use Machine Learning methods in the social sciences. He created his own package for the interpretation of results of ML-algorithms (https://github.com/umasds/mlame) and I told him about mlr and partial dependence plots.

What he also wanted were some kind of coefficients and he also implemented something like average marginal effects (AME).
I

[2016-03-23 15:43] zmjones commented on #802
I think that entirely misses the utility of ML. If you want things like
that just fit a simple GLM. The whole point of using ML for explanatory
purposes is to discover unexpected patterns.
On Wed, Mar 23, 2016 at 10:53 AM Philipp Probst <notifications@github.com>
wrote:

[2016-03-24 08:21] PhilippPro commented on #802
Ok, this is a good argument.
A counter-argument to this is, that maybe you want the coefficients of "your" model and maybe the glm cannot get the direct relationships as well as your model.
And coefficients could be interesting if you want statements like, "when I increase x by 1, y increases by ...".

[2016-03-24 16:47] zmjones commented on #802
I am not sure what you mean. Can you elaborate?

If you want a summary of the marginal relationship between a feature and the target you can do this by doing partial predictions or some other means of projecting the learned function to an appropriately low dimension. This is already an approximation to the learned function. For certain kinds of functions this decomposition works ok but summarizing

[2016-03-26 09:40] philippstats opened #803 "Bug in `method = "hill.climb"` of `makeStackedLearner`"
This code

[code]

throws that error message

[code]

`testthat` doesn't catch that because too few baselearner are used. I already implemented a clean version (incl. new tests).

[2016-03-26 09:44] philippstats commented on #803
This problem occurs if `init` in `makeStackedLearner` is larger than 0.

[2016-03-26 20:08] larskotthoff commented on #803
Thanks, good catch. Could you open a pull request with the fixed code please?

[2016-03-27 11:36] giuseppec opened #804 "impute wrapper without parameter set?"
Hi,
[code]
I guess this should be `"classif.randomForest.imputed"` or something.

[2016-03-28 04:21] schiffner commented on #602
I fixed the randomForestSRCSyn learners, i.e., fixed the param set, hardcoded args and tried to get rid of the strange structure (training the model during prediction). It works for regression.
For classification with >2 classes I encountered some problems with the randomForestSRC package and emailed the maintainers.

[2016-03-28 05:06] larskotthoff commented on #602
Great, thanks. Do you want to make a PR for the stuff so far or wait until it's fixed upstream?

[2016-03-28 06:23] schiffner commented on #602
At the moment my PR wouldn't pass all tests and therefore I tend to wait a bit. The last time they responded real fast.

[2016-03-28 08:18] giuseppec commented on #747
I have also written a single one function (I have it locally at my office) that uses those two and will do a PR on which @florianfendt can base his work.
The reason why I used two function was this:
1) assume you have 4 BMR with a) lrn.A and task.A b) lrn.B and task.B c) lrn.A and task.B and d)  lrn.B and task.A.
2) you can never merge 2 or 3 way combinations of those 4 BMR because a BMR object ne

[2016-03-28 08:31] giuseppec commented on #747
@florianfendt here the global merge function that I have local (maybe it hepls). I did not a PR because its kind of experimental and currently works only for BMR with a single entry and should be extended to work with any BMR of any length.

[code]

[2016-03-29 08:04] joaquinvanschoren opened #806 "Choice of RandomForest algorithm"
Hi,

Maybe this is a silly question, but is there any guidance on which of the many RandomForest algorithms to use? For classification, I can find cforest, randomForest, and ranger. Ranger claims to be faster, randomForest seems to be Breiman's original implementation, and only cforest can handle missing values. Are there any more distinguishing features that are less apparent?

[2016-03-29 08:21] PhilippPro commented on #802
I think you are mainly right. It's just could be some sort of simplification of what you see in the partial prediction plot, but I am myself also not very convinced, that it is really necessary or useful. E.g. you could make just a new prediction/use the partial prediction plot if you want to know what happens if x increases by 1.

[2016-03-29 08:23] berndbischl commented on #806
Hi,

it is OK to ask this here, but I might close this thread anyhow soon :)
It is also not a silly question. R and mlr now offer quite a lot of different packages for RFs.

I am not sure how we can handle this here, I guess the only chance is to write blog posts and scientific articles about this. And you will kinda have to read the relevant package docs and the articles behind those forests for

[2016-03-29 09:13] PhilippPro commented on #806
Hi,

I wrote something about exactly that in my blog:
http://philipppro.github.io/

I distinguised between packages that claim to be the "standard" random forest and some adaptations: http://philipppro.github.io/More_complete_list/

In my first post I also wrote something about different usage possibilities:
http://philipppro.github.io/Random_Forest_in_R/

Probably I still missed some packages/usa

[2016-03-29 09:14] PhilippPro commented on #806
Some part of my blog posts could also be included in mlr blog/tutorial if you want it, Bernd.

[2016-03-29 10:00] philippstats opened #808 "Parameter `metric` not (properly) implemented in `makeStackedLearner`"
Presently `method = "hill.climb" `of function makeStackedLearner does not support metrics like they are already available in mlr.

`metric` is kind of hardcoded and only can take two arguments, which are prediction and truth. However the measure functions for supervised learning in mlr need the arguments `task`, `model`, and `pred`.

For the the simple case of `init = 0`, metrics can be implemente

[2016-03-29 11:57] philippstats commented on #803
I know why the checks didn't pass. I will try it again soon.

[2016-03-29 12:51] berndbischl commented on #642
done in PR #809

[2016-03-29 12:51] #642 closed

[2016-03-29 14:27] berndbischl opened #810 "normalizeFeatures and createDummyFeatures mini clean up"
1) normalizeFeatures is not S3 --> do this

2) check that checkTargetPreproc is used consistentlly everywhere

3) in capLargeVales and impute we positively specify "cols", here we have an "exlude" arg to exlude unwanted cols. Remove exlude and use "cols"

[2016-03-29 18:15] andreashandel opened #811 "Error when predicting due to missing levels?"
Hi,
I'm trying to use 10-fold cross validation on a simple linear model ("regr.lm") with the resample() function. I'm getting the following error message:
[Resample] cross-validation iter: 1
[Resample] cross-validation iter: 2
Error in model.frame.default(Terms, newdata, na.action = na.action, xlev = object$xlevels) :
  factor XXX has new levels NN

(where XXX and NN can change depending on settin

[2016-03-29 18:20] larskotthoff commented on #811
When creating the task, you can specify that empty levels shouldn't be dropped through `fixup.data`, e.g.

    task = makeClassifTask(id = "foo", data, fixup.data = "no")

[2016-03-29 18:29] andreashandel commented on #811
Thanks for the quick reply! Tried it, does unfortunately not work.
I think the problem is at the level of lm() itself, it discards the empty factors (see discussion in link above) and mlr would need to 'fix' what lm() produces as in the stackoverflow example before using predict().

[2016-03-29 18:34] larskotthoff commented on #811
Ah, I see. That would mean removing data from the predictions though? I'm not sure if we want to do that in a predictor, as it would probably cause problems later on when something relies on predictions being there for all rows. I guess we could have a nicer error message though?

@berndbischl What's your take on this?

[2016-03-29 18:41] andreashandel commented on #811
Wouldn't need to remove observations/rows from the prediction set, just setting factors in the prediction set that are not in training to NA. Would make for a worse prediction (as it should) but otherwise I think it could be ok. Should probably not be the default, but maybe on option one could turn on?

The problem right now is that if I did a big tuning/feature selection/whatnot optimization and

[2016-03-29 18:45] larskotthoff commented on #811
I see. It seems that another option (and probably preferable) would be to have an option to resample to stratify the factor levels such that all levels are present in all splits (if possible) though?

[2016-03-29 18:59] andreashandel commented on #811
That sounds like a good option for some types of data. For my (small) dataset, I have a hunch that it might not work to get all factors for all variables present in both train and test. (I tried something like that with the stratify.cols option in makeResampleDesc(), it didn't work (could have been user error).

And I'm also not sure how one would implement that for say bootstrap sampling without

[2016-03-29 19:03] larskotthoff commented on #811
All good points.

Implementing this should be easy, but I'm a bit wary of the implications of changing the data to make something work technically.

[2016-03-29 20:44] florianfendt commented on #326
Was done in #576
Closing here

[2016-03-29 20:44] #326 closed

[2016-03-30 12:14] florianfendt opened #812 "Bug in convertBMRToRankMatrix"
The function is not preserving the learner id's as row names in the matrix if you only pass one task.
See for example this code:

[code]

[2016-03-30 18:35] berndbischl commented on #811
@andreashandel

mlr offers actually (hopefully) quite a lot of options to handle these problems.
Do we have any chance to get a reproducible example from you, so we can easier discuss what helps you best?

[2016-03-30 18:57] berndbischl commented on #811
I will outline different options now here:

1) stratified resampling. You can stratify your resampling procedure. have a look at makeResampleDesc args "stratify" (to stratify on y in classification) and "stratify.cols" (to stratify on imbalnced input features).
This might completely eliminate your problem, and I would do this if I can.
(Apparently you did this I see and it did not help you as the

[2016-03-30 19:56] studerus opened #814 "Can not set the learner for permutation.importance filter"
I understand that the permutation.importance filter requires a learner to be specified, like in this example:
[code]

However, if I want to use to fuse a base learner with this filter, I cannot specify the learner for the permutation.importance because that argument name is already used for the base learner. I want to do something like this
[code]

[2016-03-30 20:02] zmjones commented on #814
so we just need to change the name of the learner argument for the learner used to measure importance?

[2016-03-30 20:12] studerus opened #815 "rank.correlation filter should support factors but doesn't"
The rank.correlation filter throws an error when a task with factors is supplied
[code]

However, in the definition of this filter, it says that it supports factors
[code]

[2016-03-30 20:16] studerus commented on #814
Yes, I think that would solve the problem.

[2016-03-30 20:21] zmjones commented on #814
ok i will do that and push the change in a bit

[2016-03-30 23:57] andreashandel commented on #811
@berndbischl
@larskotthoff

Thanks a lot for the quick and detailed reply!

I just started using mlr a few days ago and had not yet read the part in the documentation explaining the ability to set error handling with configureMlr(). I think that addresses my main concern, namely that I would start a large job and somewhere in there, just by chance something fails, e.g. due to CV not including a le

[2016-03-31 06:23] florianfendt commented on #716
@berndbischl
Should I get rid of this FIXME in ````getTaskData()````:
[code]

[2016-03-31 07:45] schiffner commented on #811
Generally, when interfacing a learner we try to take all its parameters into account, so usually you can tune every parameter you like.
The probably easiest way to get an overview of the parameters of a learner is via `getParamSet`.
For the random forest it looks like this:

[code]

The Tunable column indicates which parameters can be tuned. Except for the last three parameters, for which tuning d

[2016-03-31 12:08] giuseppec opened #818 "Some more multiclass Measures"
I got an eMail from a Kaggler that he has written some mlr-measures which we could include in mlr. I am posting this as issue here, we need to review it and maybe add those measures in mlr.

This is the multiclassLogLoss code used in Telstra Competition:
[code]

This is the multiclassLogLoss code used in prudential Competition:
[code]

[code]

[2016-03-31 13:04] berndbischl commented on #811
Actually you COULD technically tell the tuner to tune those with "tunable = F",
the meta info simply tells you, it does not make sense ;-)

Also note that you can even tune params that are NOT in the ParamSet of the learner (because we forgot to add them). See ?configureMlr, option "on.par.without.desc".

[2016-03-31 13:05] berndbischl commented on #811
For the PreprocWrapperCaret:

Can we add an arg check or improve the docs here?

[2016-03-31 14:29] berndbischl commented on #716
OK, do it.

[2016-03-31 14:45] berndbischl commented on #814
Hi, sorry a few comments:

1) @studerus posted dome code that did not work. Hence, we should add a test in the PR.

2) I dont like the name change to fw.learner. that somehow suggests it is an arg of the FilterWrapper (as we use fw.* as a conventio there)

3) This is probably a separate issue, be seem to COMPLETELY lack docs for the details of the filters and their signatures?

[2016-03-31 14:48] berndbischl commented on #815
The code in FSelector seems very clear. It only supports cont. features and our tag for method = 'rank.correlation' seems wrong. I will remove this now.

[2016-03-31 15:08] zmjones commented on #814
Yes that is correct that there are no docs. I definitely think we need them. How do you think we should do that? Do you have an alternative arg name in mind? What about `f.learner`?

[2016-03-31 15:31] berndbischl commented on #814
Create a separate page ?filters. add rox docs in front of every filter in R code, direct them to ?filters with rox tag "@rdname"?

how about imp.learner? we calc the importance with that learner?

[2016-03-31 16:24] berndbischl commented on #814
we where not DONE here!

sorry, I kinda mistakenly commented in the issuem should have done in the PR!
@larskotthoff
(what you should have seen when you should have reviewed the state of the ISSUE thread AS WELL)

lets pls fix this now ASAP so we dont run into problems

[2016-03-31 16:26] larskotthoff commented on #814
Do you want me to revert?

[2016-03-31 16:28] berndbischl commented on #814
wait for zachs response.

IMHO he could simply iterate over.

[2016-03-31 16:28] berndbischl commented on #814
wait what he say. revert would be cleaner for the repo state

[2016-03-31 16:52] zmjones commented on #814
yea just revert it and i will modify my branch

ok so `imp.learner` is fine

for docs i am not sure what you mean.

so i'd create a new file filters.R which has generic documentation for all filters, and then in front of each filter function i'd add docs for additional args, and specify that this should be associated with filters.Rd?

i can describe many of the filter methods but i definitely don'

[2016-03-31 18:00] schiffner commented on #811
Docs:
* The naming convention and what I wrote above about the `method` arg is mentioned in the tutorial (https://mlr-org.github.io/mlr-tutorial/devel/html/preproc/index.html#preprocessing-with-makepreprocwrappercaret). If there are any suggestions how to make this clearer I'm all ears.
* It's not in the docs of `makePreprocWrapperCaret` (see #408 ).

Arg check:
* The weird error message that @and

[2016-04-01 13:55] enricoferrero opened #821 "Multi-class classification with imbalanced classes"
Is there any support for multi-class classification problems with imbalanced classes?
In particular I'd like to use `undersample()` with a `ClassifTask` with three classes which doesn't seem to be supported:

[code]

Or is there any reason why imbalanced classes don't matter in multi-class problems?

Thanks,

[2016-04-01 19:57] berndbischl commented on #814
@zmjones
If you want to you could fix the renaming like we suggested here, in a sep PR, and then do the docs.
Just as you like.
But if you fix the renaming pls also add a test

[2016-04-01 20:14] zmjones commented on #814
ok will do. i have it all in one branch now

[2016-04-04 10:00] berndbischl commented on #703
done in PR by flow

[2016-04-04 10:00] #703 closed

[2016-04-04 18:48] andreashandel opened #823 "variable importance information/plots?"
Is it possible to pull out information on variable importance after tuning/training a model for which this information makes sense (e.g. a random forest or gbm model)? E.g. similar to varImp() in caret. Couldn't find anything on that topic in the tutorial. Thanks!
(this is obviously a question, I just can't figure out how to apply the 'question' label to it).

[2016-04-04 19:11] zmjones commented on #823
Yes it is. I think we have a method for extraction when the learner automatically computes this, though I don't know off hand what this is. In any case the object returned by the learner contains the object returned by the function that actually trains the learner, and so you can extract that directly any way you like.

We also have [generateFilterValuesData](http://mlr-org.github.io/mlr-tutorial/

[2016-04-04 19:44] larry77 opened #824 "Question about glmnet in mlr"
Dear All,
I am not sure this is an issue, but I am a bit puzzled.
Consider the following

`

Learner regr.glmnet from package glmnet
Type: regr
Name: GLM with Lasso or Elasticnet Regularization; Short name: glmnet
Class: regr.glmnet
Properties: numerics,factors,ordered,weights
Predict-Type: response
Hyperparameters: s=0.01

`
It looks to me that here I have only one model parameter I can tune -- s

[2016-04-05 09:51] PhilippPro commented on #824
Dear Larry,

I think not all hyperparameters are shown if you look at the information of a learner, only these ones that where changed by the mlr-org community in comparison to the default values of glmnet.
If you look at
[code]
you see, that ``s=NULL``as default, this was changed by the one who implemented glmnet.

You can see all possible hyperparameter if you make
[code]

It can happen, that a

[2016-04-05 17:12] florianfendt commented on #823
I uploaded a PR (#667) on this couple of weeks back. I still need to review it with Bernd, hope we can merge it in soon though.

[2016-04-05 18:03] andreashandel commented on #823
Thanks!
@zmjones I've been digging around in the object that tuneParams returns, but I can't figure out how to pull out the original object returned by the underlying function (in this particular case it's glmnet, but knowing how to do that in general would be helpful). How can I retrieve the object returned by the underlying function?

[2016-04-05 21:21] zmjones commented on #823
ah thanks @florianfendt that is what i was thinking of. definitely will be nice to have.

@andreashandel you wouldn't want to extract this from the `tuneParams` object but instead a `wrappedModel` which is what `train` returns. you would set the hyperparameters of your learners based on the what the `tuneParams` says is optimal. you can extract the underlying learner using `getLearnerModel`. I don

[2016-04-06 00:37] larskotthoff commented on #592
Can this be closed now or does the issue entail other things?

[2016-04-06 11:43] larry77 commented on #824
OK, now this is clear.

[2016-04-06 12:46] PhilippPro commented on #603
I just was on the way on implementing parallelization for the MultilabelBinaryRelevanceWrapper, when I discovered this issue. (y)

I think parallelization can also be done for some of the new multilabel methods like Classifier Chains, Dependent Binary Relevance and Stacking. But maybe better wait for the approval of Quays PRs before implementing this.

[2016-04-06 13:14] zmjones commented on #603
ah cool. yea i guess i need to rebase that PR. parallelize all the things!

[2016-04-06 13:17] berndbischl commented on #824
Short ps:
The best way to look at all available hyperparams for a learner is to call getParamSet on it. Pls use these getter functions. And for our team here: pls don't tell people otherwise. Directly accessing the member slots is less robust.

[2016-04-06 13:20] berndbischl commented on #824
Short ps:
The best way to look at all available hyperparams for a learner is to call getParamSet on it. Pls use these getter functions. And for our team here: pls don't tell people otherwise. Directly accessing the member slots is less robust.

[2016-04-06 13:52] javdg commented on #515
As per our conversation from the weekend, this is to ping @berndbischl ...

[2016-04-06 13:52] javdg commented on #512
As per our conversation from the weekend, this is to ping @berndbischl ...

[2016-04-07 01:18] berndbischl commented on #814
was fixed by zach in PR #820

[2016-04-07 01:19] #814 closed

[2016-04-07 01:20] berndbischl opened #826 "add docs for some of the filter methods in Filter.R"
zach started with a doc structure for the permutation filter

[2016-04-07 02:00] berndbischl commented on #592
i guess we are done here. we can open a separate issue if we need this more

[2016-04-07 02:00] #592 closed

[2016-04-07 02:01] berndbischl commented on #592
was fixed in PR #822

[2016-04-07 02:12] berndbischl commented on #823
Andreas, can you please give a precise definition of what you want to do?
Best would be a concrete example, with some prelim code.

[2016-04-07 02:24] berndbischl commented on #802
the name of the social scienties guy is arne. zach and I are talking to him anyhow and we might do this in mlr. will close this now.

@PhilippPro
If you want to be kept in the loop, complain to me in person, and you will be kept in loop :)

[2016-04-07 02:24] #802 closed

[2016-04-07 08:23] PhilippPro commented on #338
Remark: Maybe you want to tune a measure which is based on probability in the classification case, like AUC, logarithmic loss or brier score. Then you could be interested in the Probability-Prediction of the OOB.
From my own implementation I know that these are provided at least for randomForest, ranger and randomForestSRC (in randomForest a new "predict" is necessary unfortunately)

rfsrc(Species

[2016-04-07 19:12] andreashandel commented on #823
Thanks for all the replies and help so far!

Here is what I'm currently trying to do. Let's say I tune a random forest using e.g. repeated CV and run:
tuneres = tuneParams(...)
Ideally, what I'd like to do is something like:
varImp(tuneres)
which would give me the variable importance averaged over all samples for the optimal learner.

I haven't quite been able to figure out how to do that. I can a

[2016-04-07 19:30] schiffner commented on #602
A new version of randomForestSRC will be on CRAN in 3 weeks at the earliest.
In the meantime I can issue a PR for the regression case and also update the param.set for the classification learner.

[2016-04-07 19:35] larskotthoff commented on #602
Yeah, uh, we'll DEFINITELY have a new mlr release before then (maybe), so I guess there's no rush as this would only make it into the release after the release that's happening real soon now (no really).

[2016-04-07 19:36] schiffner commented on #602
When is real soon?

[2016-04-07 19:37] larskotthoff commented on #602
I think only Bernd and God know, but I'm not sure about God.

[2016-04-07 19:49] schiffner commented on #602
:laughing:

[2016-04-07 19:58] larskotthoff commented on #602
And He moves in mysterious ways.

[2016-04-07 20:51] schiffner commented on #602
Indeed, indeed ...

But in the meantime I managed to do the regression stuff.

[2016-04-07 21:36] schiffner commented on #408
Just to remind myself:
The wrapper is also lacking a name and a short name

[2016-04-12 16:13] philippstats opened #828 "memory usage reporting in mlr"
Currently mlr (especially the function `logFunDefault`) uses `mem = colSums(gc()[, c(2L, 6L)])` to report the memory used by R.
According to `?pryr::mem_used` another method should be used:

`mem_used` is calculated this way: `show_bytes(sum(gc()[, 1] * c(node_size(), 8)))`
Source [here](http://adv-r.had.co.nz/memory.html) in section "Sources".

[2016-04-12 16:17] philippstats commented on #803
I will do a PR some day after #808 is fixed as well. I need to ask @berndbischl how to solve 808 first.

[2016-04-12 19:27] andreashandel opened #829 "what optimizer(s) does irace use?"
I'm playing around with model tuning and the iterated F-racing approach is nice since it is very flexible with regard to the types of parameters one can tune. I looked at the mlr and irace documentation, and I think I roughly understand what it is doing. What I haven't been able to learn is what optimizers are being used when I run irace within mlr. Any pointers where I can find information on tha

[2016-04-12 19:36] larskotthoff commented on #829
You can find a technical report that describes irace at http://iridia.ulb.ac.be/IridiaTrSeries/link/IridiaTr2011-004.pdf.

[2016-04-12 19:38] berndbischl commented on #829
Lars can you at one sentence and this link to the tutorial? I will do the same then in tuneParams.

Andreas does this answer your question?

[2016-04-12 19:43] larskotthoff commented on #829
Done.

[2016-04-12 19:55] andreashandel commented on #829
Thanks! I had looked at the linked document before, but I I just realized I was making a conceptual/thinking mistake. I was for some reason assuming that irace -> some optimizer -> tuning, i.e. that irace was another level that controlled parameters of single or multiple competing optimizers, which in turn worked on the tuning (a race between optimizers performing the tuning). But I guess it's muc

[2016-04-12 19:56] larskotthoff commented on #829
Yes, that is correct. You can think of irace as being an optimiser itself.

[2016-04-12 21:43] schiffner commented on #774
Here is a detail I noticed in the tutorial:

`listLearners` returns `NA` in column `note` instead of ´""´ if the `note` arg was not used when defining the learner.

Example:
[code]

Compare
https://github.com/mlr-org/mlr/blob/master/R/RLearner_regr_bcart.R
and
https://github.com/mlr-org/mlr/blob/master/R/RLearner_regr_bdk.R#L22

[2016-04-12 22:56] berndbischl commented on #602
@schiffner
Can we close this? Or do you also need to do the changes to classif? Can we also do this soon, to be consistent? I guess this is basically the same code change?

[2016-04-12 23:05] schiffner commented on #602
We need the same changes for the classif case.
Actually, I have already done this, but the tests fail because of a problem with randomForestSRC.
A new version of randomForestSRC will be on CRAN in about 3 weeks.

What do you prefer?
* wait 3 weeks
* I could update the par.set for classif now and do the rest later
* I could issue a PR for all my changes and disable the tests for the multiclass case

[2016-04-12 23:08] berndbischl commented on #602
So this would imply we are done here? And add code can already be merged? Then I would prefer this.
Simply open a mini issue so we enable the test in 3 weeks.

[2016-04-12 23:13] #731 closed

[2016-04-12 23:17] schiffner commented on #602
ok.

[2016-04-12 23:24] #733 closed

[2016-04-13 00:25] berndbischl commented on #774
so we have an NA if the note is not defined? Isnt that actually good? to have a value encode this precisely?

[2016-04-13 01:12] berndbischl commented on #829
Well, to give a slightly longer answer than Lars: Irace is an algorithm configurator. It is a method that optimizes the parameters of an algorithm over an instance space (so irace just solves an optimization problem, and is an optimizer).
What is a bit confusing is that one (popular) area of application for irace is optimization algorithms. They also mention this in the paper and give examples.
Bu

[2016-04-13 02:45] berndbischl commented on #829
I linked the irace TR in the TuneControl docs now.

Will close here. Open again if questions remain

[2016-04-13 02:45] #829 closed

[2016-04-13 02:53] berndbischl commented on #828
But if I compare the mlr code and what you posted from pryr, we compute EXACTLY the same thing?

There are only 2 differences I see:
a) We use col 2, which is simply the mem in MB (different unit)
b) We also report "max used" which IS INDEED of interest, at least to me. Because it can show what happened deep down in some learner call (executed before the current point in time).

I dont see how sup

[2016-04-13 02:53] #828 closed

[2016-04-13 02:55] berndbischl commented on #808
You said in another thread you need some kind of help here. then please ask.

[2016-04-13 03:42] larskotthoff commented on #774
Agreed, this seems to be the better option. Then we have to remove all those empty notes from learners though.

[2016-04-13 03:50] berndbischl commented on #774
Where are they? they should not be there in the first place?

[2016-04-13 04:02] larskotthoff commented on #774
Here's a list:

RLearner_classif_dcSVM.R
RLearner_classif_extraTrees.R
RLearner_classif_fnn.R
RLearner_classif_geoDA.R
RLearner_classif_hdrda.R
RLearner_classif_IBk.R
RLearner_classif_kknn.R
RLearner_classif_knn.R
RLearner_classif_LiblineaRL1L2SVC.R
RLearner_classif_LiblineaRL1LogReg.R
RLearner_classif_LiblineaRL2L1SVC.R
RLearner_classif_LiblineaRMultiClassSVC.R
RLearner_classif_lvq1.R
RLearner_cl

[2016-04-13 04:05] berndbischl commented on #774
not really, but this is manually setting a default, which is already there.
can you simply remove these lines, please?

[2016-04-13 04:18] larskotthoff commented on #774
*sigh* I should have known that you would ask that. #830

[2016-04-13 04:34] berndbischl commented on #774
sorry....
and thx

[2016-04-13 06:48] philippstats commented on #828
You're right!

[2016-04-13 10:04] schiffner commented on #774
Many thx, Lars and Bernd.

I'm sorry, but in my opinion: Not at all

* From a practical point of view: The tutorial tables now contain NAs that have to be changed back to "".
* More importantly: Why should `listLearners` behave differently depending on if the default is active (i.e. `note` not specified in learner definition) or if the default was enforced (i.e. `note = ""` in learner definition)?

[2016-04-13 10:33] larry77 commented on #824
Hello,
Apologies for coming back on this topic.
If now I do the following

`library(mlr)`
`library(glmnet)`
`lrn = makeLearner("regr.glmnet")`
`getParamSet(lrn)`

I see that the "family" parameter is tunable, but it can only  take the values "gaussian" or "poisson", whereas in the original glmnet package more options are available (e.g. "mgaussian").
Am I misunderstanding or not all the options ar

[2016-04-13 11:22] schiffner opened #831 "Reenable tests for multiclass classif.randomForestSRCSyn"
I disabled
* the multiclass test in https://github.com/mlr-org/mlr/blob/master/tests/testthat/test_classif_randomForestSRCSyn.R
* the labelswitch tests https://github.com/mlr-org/mlr/blob/master/tests/testthat/test_learners_classiflabelswitch.R

Needs to be reenabled after release of randomForestSRC.
See also #602

[2016-04-13 11:44] PhilippPro commented on #824
Hi! `regr.glmnet` is a regression learner and all the other options of family are not for regression (mgaussian is for multivariate regression).

[2016-04-14 07:32] bkomboz opened #834 "Imputation with ordered factor"
What is the suggested way to impute an ordered factor? If I use `impute(data, classes = list(ordered = imputeMode()))` I get:
[code]
If I use `impute(data, classes = list(factor = imputeMode()))` no imputation happens.

Session information:
[code]

**Edit**: On a machine with `R 3.2.4` the factor declaration does work on ordered factors too. It seems that this is an R version issue. Will investiga

[2016-04-14 11:18] bkomboz commented on #834
I figured out whats going on: Due to some different data format on one machine vs. the other the ordered factor was first converted to a regular factor and then the imputation took place. On the other machine it was still an ordered factor and then not imputed by `mlr` (which does not seem to support ordered factors for imputation at the moment). I will therefore close this issue.

[2016-04-14 11:18] #834 closed

[2016-04-14 11:22] berndbischl commented on #834
ok :)

[2016-04-14 18:24] enricoferrero opened #836 "subset argument in tuneParams() and benchmark()"
Would it be possible to have a subset argument in `tuneParams()` and `benchmark()` like there is in `train()` and `predict()`?

Essentially I'd like to tune and benchmark only on a subset of my task (the training set). What would be the best way?

Thanks.

[2016-04-14 18:25] larskotthoff commented on #836
You can use `subsetTask()`.

[2016-04-14 19:31] berndbischl commented on #836
exactly.

And: Do you want to do nested resampling, is that why you are asking?
Because that you dont have to code yourself, you can use the TuneWrapper?

[2016-04-14 20:08] andreashandel opened #837 "using glm with mlr?"
Hi, it's me again :)

My question this time: I have some outcome data that decently follows a gamma distribution, so I want to fit a GLM with a gamma distribution. I would like to do it in the mlr framework to be able to use all the 'goodies' that come with mlr (specifically in this case automated feature selection). Unfortunately glm is not part of the learners. I'm surprised to not see it on the

[2016-04-14 20:15] larskotthoff commented on #837
There's `(classif|regr).glmboost` and `(classif|regr).glmnet`.

[2016-04-14 20:22] andreashandel commented on #837
Yes but they don't allow gamma distributed outcomes, as far as I'm aware?

[2016-04-14 21:35] berndbischl commented on #837
I guess we could add it. We do have regr.lm, which of course offers less flexibility.

Andreas, why not add this locally as a custom learner as explained in the tutorial.
Then do a PR. And I can have someone iterate over it to improve it

[2016-04-14 23:19] andreashandel commented on #837
@berndbischl while I'm in principle all in favor of your suggestion that i build a custom learner, the combination of my available time and my coding prowess suggest that it's unlikely this could happen anytime soon.

[2016-04-14 23:23] berndbischl commented on #837
ok, we will take this over then. but it can take a couple of days as there is other stuff on the prio list.

the main arg of glm seems to the the family list? what kind of options do you think are reasonable to inlcude?

[2016-04-15 00:48] andreashandel commented on #837
@berndbischl That sounds great, and I'm happy to wait until it's available, no problem if it takes a while. The main 'functionality' I want to get from glm is having access to different families/link-functions. When I use glm() by itself, I almost never change any other possible settings and just use whatever defaults glm() sets. So all those could be (for my purpose anyway) be set by mlr to the g

[2016-04-15 01:55] larskotthoff commented on #837
@andreashandel If you haven't loaded the `mboost` package explicitly, you need to give the namespace for `Laplace()`:

    mylearner = makeLearner("regr.glmboost", family = mboost::Laplace())

[2016-04-15 07:53] enricoferrero commented on #836
Thanks both - `subsetTask()` does the job.
I'm not sure about the TuneWrapper suggestion: is there any practical advantage to use `makeTuneWrapper()` over something like this?
[code]
Thanks

[2016-04-18 14:04] bkomboz opened #838 "makeDownsampleWrapper() does not work properly with weights"
**Problem**
`makeDownsampleWrapper()` does not work properly if there are weights specified. This is independent of the specified learner and data.

**Minimal example**
[code]
**Error**
[code]
**Session Information**
[code]

[2016-04-18 14:14] bkomboz opened #839 "Question about downsampling / makeDownsampleWrapper()"
When exactly does the downsampling in a (with `makeDownsampleWrapper()`) wrapped learner happen inside a cross-validation or during tuning? Is there a downsampling for every iteration of the cross-validation / tuning? Or only once at the beginning?

If it is only once, what is the recommended way to downsample / sample from a huge dataset during several cross-validation / tuning iterations?

*Edit

[2016-04-18 16:18] berndbischl commented on #838
Thx for the report. is fixed now.

@jakob-r
As this is your code, maybe have a 10min look if you can improve my unit testing here a bit?

[2016-04-18 16:20] berndbischl commented on #839
the DownsampleWrapper simply downsamoles the data before each training call.

What exactly are you trying to do? Can you explain that please?

[2016-04-18 16:28] berndbischl commented on #838
Actually my current fix is wrong. I will try to update this now
(Note to myself: weights do not have to come from the task, could also come from call to train!)

[2016-04-18 16:50] #838 closed

[2016-04-18 16:50] berndbischl commented on #838
should REALLY be fixed now

[2016-04-18 16:50] berndbischl commented on #838
i also added more tests for this

[2016-04-19 06:35] bkomboz commented on #839
Thanks for the fast reply (and the bugfix for issue #838).

My situation is the following: I have a rather huge data set (> 4m observations) from which I want to (down)sample for each cross-validation iteration so that the cross-validation (I assume it is more like resampling in this case) uses a different (but smaller and probably overlapping) subset of the original data in each iteration. The re

[2016-04-19 15:56] berndbischl commented on #839
Can you boild down your question to a mini example?
Where simply the downsampling is missing?
Then we can show you how to add this.

[2016-04-19 16:02] larskotthoff opened #840 "Learners from penalized package seem to be broken"
See https://hagakure.cs.ubc.ca:2893/job/mlr/370/console

Unit tests are failing after upgrading the penalized package:

1. Error: regr_penalized_lasso (@test_regr_penalized_lasso.R#24)
2. Error: regr_penalized_ridge (@test_regr_penalized_ridge.R#25)

[2016-04-19 16:10] berndbischl commented on #824
@PhilippPro
answered this I guess. Closing.

[2016-04-19 16:10] #824 closed

[2016-04-20 09:36] mb706 commented on #732
The given code doesn't fix the issue. The error won't be thrown any more, but instead the given values are ignored by ada.

This is because `trainLearner.classif.ada` assigns all the values that I list above to a list and gives this list as an unnamed argument to `ada::ada`. Therefore, `ada` interprets this list as the first argument that is not otherwise named in the call, which happens to be `te

[2016-04-20 10:22] mb706 opened #841 "resample with imputation / fallback learner"
When doing resampling, a learner might fail on some, but not all of the resamping iterations, depending on some idiosyncrasies of the data. If `on.learner.error` is set to `"warn"` or `"quiet"`, the resampling continues, but the resulting `aggr` value will be `NA`.

If the resampling happens as part of a tuning run, a learner that fails on only one or a few of the resampling iterations might still

[2016-04-20 11:22] schiffner commented on #705
Just noticed in the tutorial that the x-axis of the critical differences plot is now missing (?!).
This is just to remind me that I need to investigate this, too.

[2016-04-20 11:38] studerus opened #842 "Calibration-in-the-large and calibration slope"
These two performance measures are essential, particularly in external validation studies. Several guidelines and textbooks on clinical prediction modellling recommend them, for example:

[http://dx.doi.org/10.1093/eurheartj/ehu207](http://dx.doi.org/10.1093/eurheartj/ehu207)
[http://dx.doi.org/10.7326/M14-0698 ](http://dx.doi.org/10.7326/M14-0698)

Formulas for calculating these measures can be f

[2016-04-20 11:43] berndbischl commented on #842
Well we all have limited time :)
I don't think this very much high on our own prio list, there is so much else to do..

If you want this at least try to do a PR that we can then support and check?

[2016-04-20 14:28] larry77 opened #843 "Confidence Intervals in Prediction (bootstrap)"
Dear All,
Once again, a question more than an issue (and perhaps a potential enhancement to mlr).
As you may have guessed from my other posts, I am fine tuning some predictive model based on glmnet for regression.
I am interested in estimating some confidence levels not for the estimated parameters, but rather for my predicted values.
glmnet does not return natively these confidence intervals (and

[2016-04-20 14:52] zmjones commented on #843
Variance estimators for predictions have been implemented for some learners, and are accessed by using `predict.type = "se"`. Certainly it would be nice to have them for `glmnet`. I don't think we'll be implementing generic variance estimation methods for all predictions however.

[2016-04-20 15:00] berndbischl commented on #843
I agree with Zach here, that we will not implement *method specific* se estimators. For that you should probably speak with the maintainer of glmnet.

But what about stuff which is more "generic" like the nonparam bootstrap? Are you asking about stuff like that (as well)?

[2016-04-20 15:20] larry77 commented on #843
Hello,
Maybe my post created some confusion. I am of course not dreaming to ask you to roll up your sleeves and write down a specific analytical estimator for the prediction uncertainty of a single specific model.
I am rather thinking about a generic bootstrap estimator which can be used with several models. I think this would be valuable for a whole class of models.
I am not at all a guru in boot

[2016-04-20 15:32] zmjones commented on #843
I meant that that is what we should not do. Mainly because I don't think it will work particularly well. There are some generic variance estimators for homogenous ensembles that have been studied and all have substantial monte carlo bias. When there is a variance estimation method that hasn't been implemented and that has been shown to work for a particular method or set thereof (like the abovemen

[2016-04-21 06:09] berndbischl commented on #843
I talked a bit to Zack on Hangout.

We think it MIGHT be reasonable to support something like the nonparametric bootstrap for se estimation in mlr, through the BaggingWrapper. (case resampling)

@zmjones Does that basically already exitst in some PR?

[2016-04-21 07:31] larry77 commented on #843
Excellent and thanks a lot. Will I be notified through an update of this issue when and if this gets implemented in mlr?
Keep up the good work.

[2016-04-21 07:33] berndbischl commented on #843
This issue would be updated. But we likely need some time for this.

[2016-04-21 13:06] studerus commented on #842
I realised that that one can easily calculate these (and many other performance measures not yet implemented in mlr) with the function rms::val.prob. It just needs a vector of predicted probabilities and observed outcomes. I will try to do a PR when I got the time.

[2016-04-21 18:53] zmjones commented on #843
@berndbischl no not yet. i still have a lot of work to do on it. it probably will be done at the end of may though.

@larry77 i'll reference this issue when i issue the pull request

[2016-04-21 20:29] waynefoltaERI opened #845 "getConfMatrix odd margins"
Not sure what the margins mean when you do a `getConfMatrix`. Is it supposed to be the number of misclassifications?

[code]

[2016-04-22 06:00] bkomboz commented on #839
Sorry for the delay, here comes the mini-example (see comments in code):
[code]

[2016-04-22 07:02] berndbischl commented on #839
But this is exactly what the DownsampleWrapper does (if I get correctly what you want).
Before each training step (here, before each of the 10 training in the subsampling) the normal training data is randomly downsampled even further (so you basically randomly throw data point away before training).

Also the source code is in this case really simple to read. Why not check it yourself if you feel

[2016-04-22 07:02] #839 closed

[2016-04-22 07:07] berndbischl commented on #842
@giuseppec
Can you support this  abit here? I mean you also know quite a lot about this, calibration in the large and so on?

[2016-04-22 07:15] berndbischl commented on #845
Thx for the hint. The docs could be improved here. Updated them like this now.

#' The marginal elements count the number of classification
#' errors for the respective row or column, i.e., the number of errors
#' when you condition on the corresponding true (rows) or predicted
#' (columns) class. The last element in the margin diagonal
#' displays the total amount of errors.

[2016-04-22 07:15] #845 closed

[2016-04-22 07:48] giuseppec commented on #842
We already have a possibility to visualize the calibration slope, see http://mlr-org.github.io/mlr-tutorial/devel/html/classifier_calibration/index.html and https://github.com/mlr-org/mlr/issues/402 .

For "calibration-in-the-large" I am not sure how this measure will help people to assess the performance of the model. The measure compares the "averaged prediction probabilities" and the "proportio

[2016-04-22 08:35] studerus commented on #842
Thanks. I think it would still be useful to have all the measures from the function `val.prob` of package `rms`, which are described as follows:

It would be very easy to implement these measures by just programming a wrapper around `val.prob`. The function has been programmed by Frank Harrell, which you probably all know is one of the leading experts in clinical prediction modelling. If he consid

[2016-04-22 08:49] berndbischl commented on #842
I also dont think that we are making the package worse by wrapping the calls to these measures?

Especially as mlr can be used to do multi criteria evaluation and even tuning?

[2016-04-22 08:51] berndbischl commented on #842
so we would simply create a bunch of new measures which operate on binary labels and predicted probabilities?

[2016-04-22 10:32] florianfendt commented on #840
@berndbischl
Since I already uploaded quite a big PR on this a while ago I think it might be a good time now to review it and have this fixed.
What do you think?

[2016-04-22 10:33] berndbischl commented on #840
@florianfendt
Please quickly link it here. Can you also try to repair the penalized learners now.
This is completely blocking us

[2016-04-23 19:28] catastrophic-failure opened #847 "Gaussian processes kernlab::gausspr implementation"
EDIT: should I have created this as a PR?

Hey everyone, `mlR` currently lacks some learners and methods from `kernlab`, and as I'm currently working with both I thought it would be a good idea to share what I have.
Here's the script for gaussian processes classification. I just edited the `"classif.ksvm"` one, and kept all the comments too.
[code]

Here is the regression one. `kernlab` manual say

[2016-04-23 21:53] catastrophic-failure commented on #847
Just one note, I got `kernlab::gausspr` to output `sdeviation`, it's just that I'm lost in how it translates into `se`. The values are all same order as the outputs, so I must subtract some average value probably, gotta think about that tomorrow.

[2016-04-25 08:11] jakob-r opened #848 "impute() does not handle non missing values in columns"
impute should be able to do nothing if no missing values are present:
[code]

[2016-04-25 08:45] florianfendt commented on #840
@berndbischl
https://github.com/mlr-org/mlr/pull/665
will look over it again today!

[2016-04-25 09:09] berndbischl commented on #847
Hi @catastrophic-failure

Thanks!  Sharing this code with others is exactly what we wish for and what the package should "motivate" you to do.

Even better would be submitting a pull request for this. But of course this is issue is also good.
We will take this over now, Stefan = @Coorsaa  is working on this now on our side to integrate this.

[2016-04-25 10:27] berndbischl commented on #840
The problem is that this simple code does not run:

[code]

output

[code]

One can see that the formula in $unpenalized seems wrong....
I will report this to the maintainer now and add a local fix in mlr.
I also dont get why they dont have unit tests for this....

[2016-04-25 10:50] catastrophic-failure commented on #847
Ok :)
Also thanks for `mlr`, it's a great tool.
I have coded `subselect::trim.matrix` as a Preprocess Wrapper. Will try a PR this time. I'm new to Git so please forgive me if I do anything wrong!

[2016-04-25 10:54] berndbischl commented on #847
Ok. Simply try your best and we will help you.
For new code, where it is a bit harder to decide "how" we should integrate it (eg possibly new preproc stuff and not a simple learner), please open up a issue first.

This way we can discuss what i best, and we dont waste your time when we think it should be handled  differently than in your code ;-)

[2016-04-25 11:01] berndbischl commented on #840
I mailed the maintiainer Jelle Goeman and he said he would look into this.

[2016-04-25 11:02] bhvieira opened #849 "new Preproc method: subselect::trim.matrix"
As recommended in the comments in #847. I added `subselect::trim.matrix` as a new PreprocWrapper. I went for it because `caret` mentions `findLinearCombos` do the same thing, and it's a cool feature to have.
It could also be implemented outside the Wrapper. Here's the code:

[code]

[2016-04-25 12:48] berndbischl commented on #840
new PR is #850

[2016-04-25 17:10] bhvieira opened #852 "Idea: ordinal classification"
`mlr`could surely support that; the first method could be the simple method described by Eibe Frank and Mark Hall ([A Simple Approach to Ordinal Classification](http://www.cs.waikato.ac.nz/~eibe/pubs/ordinal_tech_report.pdf)). Basically, it's the same idea used in `MulticlassWrapper` with a coding matrix like this:

[code]

In the paper Frank & Hall advocate the use of probability outputs to class

[2016-04-25 20:43] berndbischl commented on #840
PR is merged. We should leave this open, to remove the FIXMEs from the penalized package.

If this takes a long time: We can later find the relevant lines where i patch the penfit models by searching for issue number 840 in R and tests files.

[2016-04-25 20:44] berndbischl commented on #612
this is done, the PR was merged #850

[2016-04-25 20:44] #612 closed

[2016-04-26 15:51] catastrophic-failure opened #855 "Question regarding multiclass and binary measures"
I've been using brier from packages `scoring` for some time in `mlr` and now I saw multiclass Brier score is being added in #854  as a multiclass measure and a question came to my mind.
Is there are reason why doesn't `mlr` unify every measure with separate multiclass and binary implementations? `makeMeasure` could include a conditional to call either `measureBinary` or `measureMulticlass`.
Pros:

[2016-04-26 19:19] studerus opened #856 "Tuning the probability threshold for classification"
Is it possible with `mlr` to tune the probability threshold for classification using nested cross-validation? In the tutorial on cost-sensitive classification the function `tuneThreshold` is briefly explained, but if I understand it correctly, it can only be used for unnested resampling. I think it is important to be able to tune the threshold in nested cross-validation because searching for an op

[2016-04-26 20:23] schiffner commented on #856
You actually can tune the threshold in nested cross-validation: You just need to set `tune.threshold = TRUE` in the `makeTuneControl*` function. So also joint tuning of threshold and other learner parameters works.

That's something that's still missing unfortunately.
Generally, the cost-sensitive, imbalanced and ROC pages need to be synchronized better, as there are some things that are explained

[2016-04-26 20:28] studerus commented on #856
Thanks a lot! I will try it out.

[2016-04-26 20:28] berndbischl commented on #856
Here is a script that shows this.

[code]

[2016-04-26 20:37] berndbischl commented on #856
Further comments from my side, and questions for Erich:

1) In the above script the tuning if (of course) nested. What happens is:
The tuner evals a certain learner config via (inner) CV2. On these predictions then the optimal threshold is selected, after each normal learner config. So for the optimal learner config, at the end of tuning, we also know its threshold. The model is then trained on th

[2016-04-26 20:46] berndbischl commented on #856
Regarding 2)
Possibly the cleanest solution would be to create a specific control object for this?

[code]

?

[2016-04-26 22:57] berndbischl commented on #855
I am not sure what you exactly mean by:

you mean why we have 2 names / objects for
brier and multiclass.brier
auc and multiclass.auc

instead of one object and internally dispatching to the correct case?

[2016-04-26 23:24] catastrophic-failure commented on #855
Yes, exactly.

[2016-04-26 23:37] berndbischl commented on #855
ok, i can see your point. we could try to unify this under one object.

i also already see the problem that sometimes different multiclass versions will exist. but i would guess that the 2class version is always unique.

so we could still have auc1 and auc2 as objects. they would results in the same binary AUC for 2 classes,   but offer different multiclass versions (of course they would be named

[2016-04-27 13:41] studerus commented on #856
Yes, I think this would be helful. As a workaround for only tuning the threshold and not other parameters at the same time, I can specify an integer tuning parameter whose upper and lower bounds are equal to the default value.

[2016-04-27 20:17] studerus opened #857 "Observation weights are not passed to classif.logreg"
The following gives exactly the same performance although it shouldn't

    lrn <- makeLearner('classif.logreg', predict.type = 'prob')
    lrn.w <- makeWeightedClassesWrapper(lrn, wcw.weight = 2)
    benchmark(list(lrn, lrn.w), pid.task, cv10, list(bac, auc, tpr, tnr))

[2016-04-28 11:28] studerus commented on #857
Observation weights are also not passed to the following learners
`classif.binomial, classif.ctree, classif.lqa, classif.probit`

[2016-04-28 12:44] studerus commented on #857
`classif.binomial, classif.ctree, classif.probit` are easy to change.
However, I don't know why this gives the same performance;

    lrn <- makeLearner('classif.lqa', predict.type = 'prob')
    lrn.w <- makeWeightedClassesWrapper(lrn, wcw.weight = 2)
    benchmark(list(lrn, lrn.w), pid.task, cv10, list(bac, auc, tpr, tnr))

The weights seem to be passed to the learner with the following lines:

[2016-04-28 14:09] berndbischl commented on #857
i have made EXACTLY the same observations as you, yesterday night. ;-)

i do have a general unit test for this. and fixed all learners where this was triggered (basically your list).
but lqa and plr where the only ones where i could not see an effect of the weights, although the seem to be passed down correctly.

i  only need to solve this, then it will be done.

[2016-04-28 19:48] catastrophic-failure commented on #818
Giusseppe, I'm the guy from Kaggle and I sent you that email. Thanks for proposing it here. I modified the code, again, after pondering about the Brier Score calculation. Basically, I think we could do it faster, avoiding vnapply. Here's a benchmark experiment:

[code]

And the output:

They are identical and the first method using `model.matrix` to discover the "real" probabilities akin to `brier

[2016-04-29 06:53] giuseppec opened #859 "`removeHyperPars` works only with one wrapper"
If we have a wrapper of wrappers, it does not work, see:

[code]
The hyperparameter `nu=2` has not been removed, i'll do a PR here #860.

[2016-04-29 07:14] studerus commented on #857
I already wrote an email to the maintainer of `lqa` but didn't get a response so far. I think we should remove the `weights` property from `classif.lqa` for the time being.

[2016-04-29 09:36] danielhorn opened #862 "Make a weighted class wrapper of a model multiplexer"
Hi,

I'm trying to fuse a model multiplexer with a weighted class wrapper. Since both of my base learner support class weights, this should be possible? Can this be done with mlr? The intuitive way does not work:

[code]

The problem is: There is no single class weights param, but 2 different ones. One for each base learner.

[2016-04-29 12:22] catastrophic-failure commented on #862
This should work instead:

[code]

[2016-04-29 20:49] studerus commented on #842
I created the following wrapper for the calibration slope.

    #' @export slope
    #' @rdname measures
    #' @format none
    slope = makeMeasure(id = "slope", minimize = FALSE, best = 1, worst = 0,
      properties = c("classif", "req.pred", "req.truth", "req.prob"),
      name = "Calibration slope",
      note = "See `?rms::val.prob`.",
      fun = function(task, model, pred, feats, extra.arg

[2016-04-30 06:44] giuseppec commented on #842
Hm good question. What Would you say that a slope of 1.1 is as good as a slope of 0.9? I mean the slope could also be negative, right?
The only possibility I currently see is to transform the slope so that it fits to a [best, worst] intervall like abs(1-slope) or something.

[2016-04-30 07:48] berndbischl commented on #842
how is the calib slople usually handled?
i mean it seems that one does not "optimize" this? do you simply "observe" this?

[2016-04-30 08:18] giuseppec commented on #842
I have never seen that this is optimized. What people usually do is observe and "recalibrate" the predictions, e.g. (if I remember well) whenever the slope is not 1, one can multiply the current predictions with a constant value (or use a linear trafo) so that the slope will be closer to 1.

[2016-04-30 08:28] berndbischl commented on #842
this then does not fit perfecly well into mlr's measure system. what we can do is then

- add a note about this
- set best=1, worst=NA, and minimize=NA
- and generate errors if the measure is passed into things like tuneParams

this requires touching code in a couple of places!
note that this sound simple, as be introduce now an annoying "special case".

[2016-04-30 08:35] berndbischl commented on #842
well. there is function checkMeasures. we COULD allow these NAs as outlined above.
and then throw an error in checkMeasures if the first measure has minimize = NA.

if somebody is willing to properly look at the codebase to do this and add tests, we can further discuss this.

[2016-04-30 08:36] berndbischl commented on #842
disregard what i said about checkMeasures. this is not so simple

[2016-04-30 08:54] berndbischl commented on #857
thx for the email. and i do agree with your suggestion. will finish this NOW

[2016-04-30 09:21] berndbischl commented on #857
just for reference sake, i tried this. it fails:
[code]

it returns 0,0

[2016-04-30 09:28] berndbischl commented on #857
classif.ada had the weights tag, but "weights" isnt even supported  in its API

[2016-04-30 12:40] danielhorn commented on #862
It does, but that's not 100% what I would like to have.
Now I get 2 parameters weightedclasses.classif.randomForest.wcw.weight and weightedclasses.classif.svm.wcw.weight. I would like to have a single parameter wcw.weight for my parameter tuning. Is this possible?

You can also convince me that it is a stupid idea to have a single wcw.weight parameter and I want to have one for each base learner.

[2016-05-01 09:20] berndbischl commented on #857
see my pullrequest for this.
i added a generic unit test now, that should always detect this.

[2016-05-01 14:01] catastrophic-failure commented on #862
You can make your own grid where both weights are the same in every evaluation point. Of course, that wouldn't work with other hyperparameter searching strategies, so I agree with you on that.

[2016-05-01 14:24] catastrophic-failure commented on #842
Platt scaling and Isotonic regression (actually any kind of bounded regression) could be used to optmize the calibration. Check the docs in `scikit`: [Probability calibration](http://scikit-learn.org/stable/modules/calibration.html).

But that's, of course, outside the realms of measures. It would need a whole new Wrapper.

[2016-05-01 18:12] me88 opened #866 "feature selection for multilabel rferns"
Hello,

First thanks for the package mlr it's really great.

May I ask if it there is a feature selection implementation available in mlr regarding a multilabel algo using Rferns?

==============================================================================
Here is an example where I would like to add feature selection.
# Libs
rm(list = ls()) #clear workspace
set.seed(1234)
library(mlr)

# Get d

[2016-05-01 20:20] larskotthoff commented on #866
If you do feature selection with a wrapper method (https://mlr-org.github.io/mlr-tutorial/devel/html/feature_selection/index.html#wrapper-methods), it should work.

[2016-05-02 09:23] PhilippPro commented on #3
I think there is something wrong in the multiclass.auc function. As input there is only the response and the probability, but not the truth. A prediction cannot be evaluated without the true values. Probably the term `response` in the pROC package and the poor documentation is missleading.
In my opinion `pred$data$response` has to be replaced with `pred$data$truth`.

Also the multiclass.auc and au

[2016-05-02 09:47] jakob-r commented on #3
I think you are pretty right. We should fix this asap. But the documentation does not enlighten me so much what the correct input should be. But I can see that the current state can not work.

[2016-05-02 11:16] catastrophic-failure commented on #3
An example using `caTools`

[code]

Each column of probability estimates is a 1-vs-rest binary classifier. Then we can group the outputted AUCs knowing the labels.

[2016-05-02 14:35] berndbischl commented on #3
@Coorsaa Stefan, please also take look at this.

[2016-05-02 14:41] berndbischl commented on #451
@MariaErdmann
Try to close this ASAP. Add refs where they are missing AND the method is already mentioned here.

[2016-05-02 14:42] berndbischl commented on #837
we added regr.glm now. closing

[2016-05-02 14:42] #837 closed

[2016-05-02 14:43] berndbischl commented on #810
@florianfendt @Coorsaa

Can you please talk about this, so we can close this ASAP? Who can do this first?

[2016-05-02 14:54] florianfendt commented on #810
I'll do it

[2016-05-03 06:23] florianfendt commented on #848
Well, ````impute()```` in general is not the problem here, since with e.g. ````imputeMode()```` and ````imputeMedian()```` the above code works fine.
So imho the problem is only the ```ìmputeLearner()```` method since we then want to predict on an empty data set.

[2016-05-03 07:06] berndbischl commented on #857
done

[2016-05-03 07:06] #857 closed

[2016-05-03 07:07] berndbischl commented on #440
currently this is low prio, you can do a PR if you really need this or can reopen of this really creates problems

[2016-05-03 07:07] #440 closed

[2016-05-03 07:08] berndbischl commented on #309
@florianfendt will later work on this in a larger, already planned project, so we dont need this issue now

[2016-05-03 07:27] giuseppec commented on #462
Hm, `extract` is still missing for the `benchmark` function, although in https://github.com/mlr-org/mlr/pull/419/files an `extract` argument was introduced in the `benchmark` function.
Has this been removed again?
I maybe will need this to be able to extract values for each resample iteration (for the tune traces in OpenML) and we are using the `benchmark` function here, which apparently does not

[2016-05-03 07:59] jakob-r commented on #462
Yeah. Somewhere you will find an Issue where @berndbischl  wanted me to redo the changes. Here is the commit.
https://github.com/mlr-org/mlr/commit/548f7ac20773052531ad261d6f4f4aa1b3843911#diff-fa967e86b6fb2ba0f708b87c3d6d2b73

[2016-05-03 08:02] giuseppec commented on #462
Maybe I found a way where I don't need this, but was there a reason why we don't want the `benchmark` function to support the `extract` arg?

[2016-05-03 08:02] Coorsaa commented on #572
already merged.

[2016-05-03 08:02] #572 closed

[2016-05-03 08:08] jakob-r commented on #462
I think it was because it did something new,  not overly well documentedand and @berndbischl was afraid that it breaks something.

[2016-05-03 10:23] glivici commented on #441
Hi! I have the same problem. Please, can anyone give me a hint to solution? I have the same R version  3.2.0. Thank you!

[2016-05-03 12:02] berndbischl commented on #441
hi. you did not post that much info....
have you read the thread? if you are under windows and use r 3.2.0 i am afraid that you have to upgrade R as I wrote above and @Eupraxis did...

[2016-05-03 12:43] mllg commented on #441
You could also try this first:

[code]

[2016-05-03 12:52] mllg commented on #441
And to be sure that everything really gets updated, call `update.packages` again with a source install:

[code]

Note that you might need to install [Rtools](https://cran.r-project.org/bin/windows/Rtools/) for a source install.

[2016-05-03 14:43] berndbischl commented on #472
we should REALLY check that this line is correct

 # the instance is always the same for all different param setting
 +    rin = experiment[[1]]$instance

[2016-05-03 18:05] catastrophic-failure commented on #3
I made a small code to select all the possible pairwise combinations to evaluate Hand & Till AUC. I proof tested it on the iris data set with some added dummy classes.

[code]

[2016-05-04 10:03] PhilippPro commented on #3
This looks very good! I also tested the colAUC function against the normal auc function in pROC and they seem to provide the same values (if the input values in auc are restricted to certain kinds of levels/probabilities).
I would suggest to write our own function of colAUC in mlr package (in fact it is open-source) instead of having a new dependency. What do you think about that? With the colAUC

[2016-05-04 12:50] PhilippPro commented on #3
Here the other measures with the help of colAUC:

https://github.com/PhilippPro/MulticlassAUC/blob/master/MulticlassAUC.R

After having a feedback about putting a new function colAUC in mlr or a new dependency, I can implement them in mlr and make a pull request.

[2016-05-04 15:54] PhilippPro commented on #3
Ok, after some combinatorical thinking I think your code (@catastrophical-failure), was not completely right for more than 3 classes. I think a possible solution would be the following:

`m = colAUC(probabilities, pred$data$truth)
c = c(combn(1:nlevels(pred$data$truth), 2))
mean(m[cbind(rep(1:nrow(m), each = 2), c)])`

Do you agree?

[2016-05-04 18:55] catastrophic-failure commented on #3
I tested it (mine and yours) on 5 classes; yours also picks every possible pairwise combination, but it also takes the pairs AUC(j,k) and AUC(k,j), the result is the same, but mine excludes the identical pairwise measures.

[2016-05-04 19:30] catastrophic-failure commented on #3
Yeah, you are right. I was under the impression that pairwise AUCs would be equal among the pair, but that isn't truth.

[2016-05-05 17:46] MasonGallo opened #872 "Tests fail for 'featsel'"
I just setup my dev environment on a new mac with a fresh copy of mlr cloned this morning to fix #815 . Running the test for featsel below fails:

`devtools::test(filter = "featsel")`

The first failed dialog is - looks like it has to do with how filterFeatures is called:

[code]
Is this reproducible on other machines?

Output of R.version on my local machine:

[code]

[2016-05-05 18:28] schiffner commented on #872
Hi,

I couldn't reproduce on my mac, but I'm still on R 3.2.4. Updating now.

When running the featsel tests do you see only the one error you posted, or are there more?

[2016-05-05 18:37] MasonGallo commented on #872
Thanks! I only posted a snippet to avoid the wall of text in case it was something obvious. I will look into testing on another machine/VM. The full output is below:

[code]

[2016-05-05 18:50] berndbischl commented on #872
hi.

1) does this really happen in a feshly started R? when you run the test for featsel as the first thing?

2) can you please also try to install rt
https://github.com/rdatsci/rt
then run on the console
rtest --filter=featsel

[2016-05-05 18:52] schiffner commented on #872
Thx.

So I updated R (freshly started) and ran the featsel  tests. I seem to have problems with RWeka and java (I'm seeing this several times: `java.lang.UnsupportedClassVersionweka/core/Attribute : Unsupported major.minor version 51.0`), but I couldn't reproduce the error you saw with randomForestSRC.

[2016-05-05 18:59] berndbischl commented on #872
(my post was for Mason)

So, I have seen this error before. Mainly when i ran a couple of tests in row.
Or calling load_all a couple of times.
Restarting R always fixed it for me, so I assumed a was a weird thing in combo with randomForestSRC and devtools.

[2016-05-05 19:02] berndbischl commented on #872
and to be honest, because of the "instability" of randomForestSRC and stuff like this here, I really dislike the fact that we use this package in rf.importance. Its only advantage is that we can run this on survival data.

I guess we might discuss going back to the normal "randomForest" again?

[2016-05-05 19:09] larskotthoff commented on #872
So we have tests on R-devel with all the latest packages that should flag this up, so it's likely something specific to your environment. Did you install the github version of mlr?

@schiffner Your JVM is too old.

[2016-05-05 19:11] schiffner commented on #872
I know. Just wanted to give this info, too, in case it was important, which it seems to be...

Do you have any more specific info on problems with randomForestSRC? As I'm still mailing with the maintainers because of the learner interfaces I could mention this, too. So far they were pretty fast in fixing things.

But if problems persist after the next randomForestSRC release going back to randomFo

[2016-05-05 19:12] MasonGallo commented on #872
I initially ran in a freshly installed R, but I had ran `devtools::test(filter = "base")` first.

If I close and reinitialize R, the test passes if it's the first test ran. However, if I run more than 1 test in sequence, I reproduce the same issue.

[2016-05-05 19:15] berndbischl commented on #872
Julia:

Sure :)

Thats exactly what I meant and have experienced. And I think this only happens because we load stuff via devtools and load_all. But I have no clue why this happens.

It is quite annoying but you can deal with it?

[2016-05-05 19:19] MasonGallo commented on #872
Thanks all! I can work around it for now - just wanted to make sure there wasn't something wrong with my local machine.

Thanks for reminding me about rt. I think that's the easiest way to avoid the issue by calling from the command line for now.

[2016-05-05 19:20] berndbischl commented on #872
about rt: strong yes.

are you on hangout?

[2016-05-05 19:22] MasonGallo commented on #872
Yes, my username is my gmail

[2016-05-05 19:23] berndbischl commented on #872
ah, sorry posted too quickly.

1) about rt: yes, use this to run the "longer batches" of tests.

2) in general dont run all unit tests without a filter. we simply have too many of them. filter first to relevant files. then later to the group you are working on. for all tests in a row I guess its best to let that run on travis / jenkins.

3) i see that your test breaks in test_featsel_filter in lin

[2016-05-05 20:10] berndbischl commented on #872
Mason and I spoke on Hangout. Mason will try to do a PR to change these 2 lines. Then we can close here.

[2016-05-06 11:34] #815 closed

[2016-05-06 11:37] berndbischl commented on #788
thx to both parties involved!

[2016-05-06 11:37] #788 closed

[2016-05-06 11:49] berndbischl opened #874 "provide "learners_all" type unit tests for multilabel and surv learners"
copy parts of the structure from the test files for the other groups

[2016-05-06 14:23] krz opened #876 "coefficients of makeFeatSelWrapper model"
Hi,

when I train a survival model like this:

[code]

I can extract the parameter estimates of the cox model like this:
`coef(m1$learner.model)`

Now I want to perform feature selection before building the Cox model.
I do it like this, hope this is correct:

[code]

but now I cannot extract the coefficients with
`coef(m2$learner.model)`

as it results in a NULL output.

I am doing something wrong

[2016-05-06 15:12] schiffner commented on #876
Hi,

it is generally better to use function `getLearnerModel` than to directly access the `$learner.model` slots.
For your example:

[code]

Short explanation why `coef(m2$learner.model)` doesn't work:
A wrapped learner has a more complicated structure with several layers (in your case feature selection and Cox regression), and the output of `train` "mirrors" this structure.
In your case the outpu

[2016-05-07 06:15] krz commented on #876
thanks!

[2016-05-07 08:29] schiffner commented on #876
Welcome! :)

I will close this here. If any more questions come up, feel free to reopen.

[2016-05-07 08:29] #876 closed

[2016-05-07 13:16] krz opened #877 "makeBaggingWrapper for survival tasks"
Hi,

Is bagging not supported for survival tasks? Is this intended?

[code]

[2016-05-07 18:08] andrewjohnlowe opened #878 "How to customise feature selection? Add new filters, use aggregate values from bootstrapping"
Hello! I have two questions:

1. Is there a way to define my own filter-based feature selection? I'd like to use the filter methods in CORElearn. Is this possible? If so, how can I define and plug-in my own filter, or one from another package?

2. From past experience, I know that several of the filter-based measures that I'm interested in produce unstable results on my data. I'd like to bootstrap

[2016-05-08 02:40] catastrophic-failure opened #880 "measures: Strictly proper scoring rules"
There are three famous strictly proper scoring rules: Quadratic, Logarithmic and Spherical.
I added the spherical scoring rule, but I also have coded the other two. There's a issue, the Quadratic scoring rule is simply an affine tranformation of `multiclass.brier` and the Logarithim scoring rule is simply `-1*logloss`.

Are those two too trivial to be added? I would be fine with that, anyone would

[2016-05-08 16:36] schiffner commented on #878
Hi,

regarding your first question:

It's possible to define your own filter method using function `makeFilter`.
Here is an example with a criterion from CORElearn:

[code]

(I didn't check if `supported.tasks` and `supported.features` is set correctly, just copy-pasted from the interface to `FSelector::relief`.)

This file (https://github.com/mlr-org/mlr/blob/master/R/Filter.R) contains the code

[2016-05-09 10:47] PhilippPro commented on #880
I think it would be ok to have also the affine transformation versions. In fact we also have rmse and mse.
Maybe in the tutorial we can cluster measures, that are closely related to each other instead of ordering them only alphabetically, for the better overview.

[2016-05-09 11:58] andrewjohnlowe commented on #878
Hi Julia, thanks!

Can I use a similar recipe to fuse a custom filter method to a learner? If makeFilter creates a filter and registers it with (for example) the name "ReliefFequalK", can I fuse it with a learner in the same way as those from FSelector?

Any ideas on how to use bootstrapped filter measures in a filter fused with a learner? (2nd question) This would be very useful in cases (like mi

[2016-05-10 13:36] catastrophic-failure commented on #880
All right. It's quite trivial, really, Brier Score and Logloss are strictly proper scoring rules, too.

Now, about the implementation itself, should I make new and self contained `measure.quadraticscore` and `measure.logarithmicscore` functions or could I point these to `measure.multiclassbrier` and `measure.logloss`, when these are merged, like it's done on RMSE?

[2016-05-11 06:44] berndbischl commented on #880
a) i have no problem to add measures, which are trafos of each other. we also have mmce and acc = 1-mmce.

b)

either ways is OK, but better style IMHO is to call into the existing measure function. they exist, so we can do exactly that.

repopen if you have more questions. otherwise do the PRs.

AND: THX A LOT FOR ACTIVELY CONTRIBUTING! MUCH APPRECIATED!

[2016-05-11 06:44] #880 closed

[2016-05-11 09:57] ja-thomas opened #882 "Class for heterogenous ensembles"
This is related to #525 for a new getClassWeightParam method.

We need to distinguish between ensembles in which all learners are the same (eg. Bagging wrapper) and ensembles containing multiple different models (eg. modelMultiplexer, stacking).

Currently there are only two "heterogenous" ensembles (I think) so we could handle them directly but if there will be more in the future would it make se

[2016-05-11 16:09] berndbischl commented on #882
yes, this makes sense. please refactor, then do a PR.

[2016-05-11 17:25] ja-thomas commented on #882
Ok I'm stupid, they are already different classes.

ModelMultiplexer and stacking are of class `BaseEnsemble` while BaggingWrapper and stuff like that is already a `HomogeneousEnsemble`.

[2016-05-11 17:25] #882 closed

[2016-05-12 05:27] berndbischl commented on #812
was merged in PR https://github.com/mlr-org/mlr/pull/863

[2016-05-12 05:27] #812 closed

[2016-05-12 13:43] jakob-r opened #886 "Travis: manpage generation fails"
One upon a time we had the idea that the Rd files can be generated automatically by Travis. @larskotthoff implemented it in the `.travis.yml` but it fails as roxygen2 is not loaded.
Question:
- [ ] Make it work again?
- [ ] Delete that part from `.travis.yml`

[2016-05-12 16:26] schiffner commented on #878
Hi Andrew,

I'm very sorry for the delay. Meant to get back to you earlier but was a little ill this week.

Yes. If you write your own filter via `makeFilter` you can use it like any other filter method already integrated in mlr. And particularly, you can fuse it with a learner by `makeFilterWrapper`.
For example:

[code]

To be sure that I understood correctly. You want to do the following:
On th

[2016-05-13 08:42] studerus opened #888 "Why do the ranger-learners not support odered factors?"
Is there a specific reason, why the ranger learners do not have the `ordered` property set? It seems that the `ranger` random forest implentation correctly handles ordered factors the same way as numeric variables, as you can see in the following example:

    library(ranger)
    dat2 <- dat <- getTaskData(bc.task)
    i <- which(sapply(dat, is.ordered))
    dat2[,i] <- lapply(dat[,i], as.numeric)

[2016-05-13 09:10] me88 commented on #866
thanks it works

[2016-05-13 09:10] #866 closed

[2016-05-13 09:14] me88 opened #889 "wrapper feature selection any book/manual to understand the algos"
Hello,

I checked the documentation regarding the following wrapper feature selection algos.

- Exhaustive search (makeFeatSelControlExhaustive),
- Genetic algorithm (makeFeatSelControlGA),
- Random search (makeFeatSelControlRandom),
- Deterministic forward or backward search (makeFeatSelControlSequential)

Documentation mentions parameters available for each of the wrapper feature algos. However,

[2016-05-13 09:55] larry77 opened #890 "Question About Accessing Standard Errors in Regression Tasks"
Dear All,
This is a question, not a bug. I paste below a simple snippet in which I use random forest for a simple regression task. My question is, how do I  access the standard errors (se) in the prediction?
Probably i am not asking the model to predict the se and this is the root of my problems.
Any suggestion is appreciated!

#####################################################################

[2016-05-13 15:02] federicou commented on #777
Actually I'm having a similar problem

library(mlr)
library(irace)
library(brnn)

options(mlr.debug.seed = 313L)
df <- read.csv("data4mlr.csv") #file is attached
lrn <- makeLearner("regr.brnn")
ps = makeParamSet(
  makeIntegerParam("neurons", lower = 2L, upper = 12L),
  makeNumericParam("mu",lower=0.0005,upper=0.01),
  makeLogicalParam("normalize"))

ctrl = makeTuneControlIrace()
rdesc = makeResam

[2016-05-13 15:15] schiffner commented on #890
Hi,

as you already suspected you need to ask the model to predict the se.
You can do this by setting `predict.type = "se"` when creating the learner.

Here is a mini example (without tuning and parallelization):
[code]

There is also `getPredictionSE` that extracts the se column for you:
[code]

Cheers,
Julia

[2016-05-13 17:36] schiffner commented on #602
@berndbischl :
The new version of randomForestSRC is not yet on CRAN.
So I just rebased PR #832 (where some tests are disabled) if you want to pull it in for the release.

[2016-05-13 17:40] berndbischl commented on #602
Julia, I would like to merge this in.

a) is this in your opionion ok for you?
b) could you please close this then, when I have I merged, and simply open a clean mini-issue for remaining stuff (like that we have to turn the tests back on, etc)

?

[2016-05-13 17:46] schiffner commented on #602
Re a)
Pro: Consistency with regression.

Con: The multiclass random forest does not work properly. I disabled the tests to  make sure that we on't break on CRAN. The only thing that could go wrong is that somebody tries to fit a multiclass forest and complains... For me that's ok because the new randomForestSRC release should be on CRAN in a few days.

Re b) The issue for the tests is #831 .

[2016-05-13 20:12] larry77 commented on #890
Perfect,
and thanks a lot.
Last question (back to my example, where I also tune the learner): should I specify `predict.type="se"` , both when I invoke  `lrn = makeLearner(...)` to first create the learner before tuning the hyperparameters and after tuning when I set the learner's hyperparameters with `setHyperPars(makeLearner(...))` ?

[2016-05-13 21:07] schiffner commented on #890
Hi,

I guess it depends. Here are some random thoughts:

* `tuneParams` doesn't store the predictions and I don't know of a performance measure that needs the se column, so whether se is predicted or not while tuning does not make a difference.
If predicting se is for some reasons computationally expensive it makes sense not to do it (I don't know of a learner where this is the case though).

* On

[2016-05-14 10:55] d125q opened #892 "`createDummyFeatures` should sanitize names"
Assume I have a data frame `df` which contains a factor column `quan` with levels `<5` and `>5` (which are illegal R variable names).

Running `createDummyFeatures(df)` gives back a data frame with columns `quan.<5` and `quan.>5`.  This data frame afterwards fail strict name checks and is unusable in tasks, learners, etc.  Thus, I propose that `createDummyFeatures` should sanitize names by removin

[2016-05-14 17:38] catastrophic-failure commented on #892
`make.names` should do the trick, but it would make both read the same, appending a `.1` to the second one. I'm fairly sure calling `data.frame` does that automatically.

[code]

[2016-05-15 12:19] studerus opened #893 "Problem with impute learner"
I experienced a problem using imputeLearner for cross-validation. Here's an example:

    dat = data.frame(y = rnorm(10), a = c(NA, rnorm(9)), b = rnorm(10))
    task = makeRegrTask(data = dat, target = "y")
    impLrn = imputeLearner(makeLearner("regr.rpart"))
    lrn = makeImputeWrapper(makeLearner("regr.lm"), cols = list(a = impLrn))

    #works
    train(lrn, tsk)

    #does not work
    holdo

[2016-05-16 09:51] enricoferrero opened #894 "Is it possible to apply bagging only to one class?"
I'm working on a [PU learning](https://en.wikipedia.org/wiki/One-class_classification) problem.
I would like to apply bagging only to the unlabelled class, but not to the positive class, as described in [this paper](http://arxiv.org/abs/1402.3144), section 2.2.

Is this possible within the mlr framework? How?

Thank you,

[2016-05-16 16:54] philippstats opened #895 "Argument "requires" does not work properly in ModelMultiplexer"
Some parameters require other parameter settings, e.g. in SVM the argument "degree" is only useful if kernel "polynominal" is applied. This works fine when only one learner is used (returns NA at that position). In ModelMultiplexer the "requires" argument does not work as expected:

[code]

This returns values (and not NA) for `classif.svm.degree` although kernel "linear" is used.

[code]

[2016-05-17 05:07] MasonGallo commented on #744
Just to confirm - any particular reason why "only" substr, grep, regex mentioned? What about any other string methods from base R?

[2016-05-17 08:33] kerschke commented on #234
I just tried to run the cost-sensitive classification example from the tutorial, but for some reason it failed. Here's what I've done (and what R returned):

[code]

After a quick look into mlr's code, I only found one file that actually contains `checkIntegerish` (which is Task_operators.R). Within that file, there is the function `subsetTask`, which apparently contains two bugs:
(1) `td = task$d

[2016-05-17 11:40] jakob-r commented on #888
From my point of view you can change it if you want to and include it in a unit test. Maybe wait for a secon opinion.

[2016-05-17 13:17] berndbischl commented on #888
yup, we can do a simple PR here. i am pretty sure this was simply an oversight.

[2016-05-17 13:22] berndbischl commented on #744
i think these were the ones that @mllg could think of. if there are more, refactor those too
(i hope its not that many)

[2016-05-17 16:18] jakob-r commented on #895
We refactored the handling of requirements but it has not been pulled in yet in ParamHelpers but I coud imagine that this is fixed once we merged https://github.com/berndbischl/ParamHelpers/pull/73 and this branch: https://github.com/mlr-org/mlr/tree/fix_344_default_par_vals

[2016-05-17 16:20] jakob-r commented on #893
Duplicate with #848

[2016-05-17 16:20] #893 closed

[2016-05-17 16:22] philippstats commented on #895
ok, nice! thanks

[2016-05-17 16:38] jakob-r commented on #889
Maybe this is of improtance in Thead #451

[2016-05-17 16:40] #888 closed

[2016-05-17 16:56] MasonGallo commented on #744
That's what I figured. Thanks!

[2016-05-17 19:46] berndbischl opened #897 "add unit test that learners that claim to handle ordered factors really do this."

[2016-05-17 19:48] berndbischl commented on #848
the issue #893 contains another piece of code that we can check in a unit test

[2016-05-18 07:10] berndbischl opened #898 "plotBMRBoxplots - facetting should be configurable"
i want at least to set the number of rows and columns for this

[2016-05-18 07:14] berndbischl opened #899 "BMRResult: there should be a setter for the task names"
eg to influence them for plots

[2016-05-18 07:48] berndbischl opened #900 "for filters we really also want the random forest importance and the the rf gini"
and from the randomforest package, not only from randomforestSRC

[2016-05-18 09:42] studerus opened #901 "Weighted classes wrapper not working if wrapped in the wrong order"
I realised that case weights are only applied if the weighted classes wrapper is wrapped before the imputation wrapper and not the other way round. Is this intended behavior? I suppose not.

Here's an example:

[code]

Result:

[code]

[2016-05-18 11:46] kerschke commented on #234
Forget about the second point.. The checkmate problem disappeared after a fresh reinstallation of checkmate.
Nevertheless, `td = task$desc` should still be changed to `td = task$task.desc` (within `subsetTask`).

[2016-05-18 16:12] me88 opened #903 "Wrapper methods featureSelection customisation"
Hello,

Is it possible to use wrapper methods by chosing only a certain amount of features in the search process.

Imagine I have 90 features {x1 .. x90}.
For some reasons I want to keep {x80 .. x90} because they are strong business oriented features.

So how can I add this extra condition (forbid mlr to remove specific features) ?

Thanks

[2016-05-18 21:53] schiffner commented on #602
A new version of randomForestSRC was released to CRAN and I updated PR #832 accordingly: (Hopefully) now all problems/bugs are solved, all tests are enabled (so #831 is obsolete), all randomForestSRC interfaces are up to date and we can close this monster issue...
:v:

[2016-05-18 22:04] #602 closed

[2016-05-18 22:04] #831 closed

[2016-05-19 08:26] joaquinvanschoren opened #905 "Smote for multiclass problems"
We're trying to use smote to handle an imbalanced classification problem (also see mlr-mbo issue 213)

However, Smote only seems to handle binary problems right now. Is there any reason why it should not work on multiclass problems? Is this an easy to make extension? Thanks!

[2016-05-19 09:32] berndbischl commented on #905
nope, smote does not handle multiclass at the moment.

i check the original paper for a few secs, i am very sure they also dont discuss this case there.

i think extensions are possible, although i also think this is "effort", both intellectually and w.r.t. to code.

what performance measure do you optimize?

[2016-05-19 09:33] joaquinvanschoren commented on #905
We want to optimizing on Weighted Kappa. Does that matter?

[2016-05-19 09:36] berndbischl commented on #905
just wanted to know. does mlr support this?

so, my answer i think is:
mlr supports simple threshold optimization at the moment for multiclass. that might help.
and class-reweighting. that might also help.

for stuff like smote somebody (like you) would need to work on extension. we have too many issues to solve at the moment.
but this topic does interest me. i will also make a note for a student

[2016-05-19 10:38] berndbischl commented on #905
more thoughts on this:

I guess an extension of smote could be doable and simple. We sport a single numeric factor that tells us how much to oversample the minority class. We could allow to pass a named vector here with k-1 entries. The entries would specify how much to oversample all other classes.
We then just add a loop to smote.

you would still need to do a PR for this.

[2016-05-20 09:11] carbonmetrics opened #907 "xgboost: multi:prob gives error"
I would like to apply xgboost on a classification problem with 3 classes:

[code]
This gives an error:

[code]
Rather than changing configureMlr, would like to understand what the problem is and locate the "description object" that the error message refers to, but can't find it.

sessionInfo:

[code]

[2016-05-20 10:49] PhilippPro commented on #907
This is set automatically in mlr, so just omit the `num_class` part:
[code]

See line 69 in https://github.com/mlr-org/mlr/blob/master/R/RLearner_classif_xgboost.R.

[2016-05-20 11:32] schiffner commented on #907
Hi,

Just for clarification about the error message and the description object:
As you probably know every learner has a parameter set (accessible by `getParamSet`, see below) that contains descriptions of all parameters you might want to set or tune. If you are trying to set a parameter which is not registered in the parameter set you get the error message about the missing description object.
In

[2016-05-20 15:10] carbonmetrics opened #909 "multicore / ranger"
When I run ranger on my data set, it uses all cores, and finishes in a couple of seconds:

[code]

![selection_014](https://cloud.githubusercontent.com/assets/4662049/15431797/1a7227dc-1eb4-11e6-84c9-7bc96ddea189.png)

Doing the same thing via mlr does not seem to use all cores (it nearly consumes all available memory at some stage though), takes ages and ends with an error:

[code]
I am obviously

[2016-05-23 07:06] krz commented on #894
from my understanding, oversampling the minority class would achieve that:
https://mlr-org.github.io/mlr-tutorial/release/html/over_and_undersampling/index.html

[2016-05-23 07:46] enricoferrero commented on #894
The problem I see with this is that in my case the class that I want to apply bagging to (the unlabelled cases) is the majority class. So i would need to apply oversampling to the majority class - I'm not entirely sure it makes sense to do that?

[2016-05-23 11:04] jakob-r commented on #909
You also have to show us how you construct `lrn.ranger`

[2016-05-23 12:50] berndbischl commented on #898
use facet_wrap. create new args facet.wrap.rows, facet.wrap.cols both with defaults = NULL

[2016-05-23 20:49] berndbischl commented on #909
hi. its really hard to help here, if we dont see a reproducible example.
can you post this, maybe with some comparable data, if you cannot use your own?

[2016-05-23 20:50] berndbischl commented on #909
also please always post a traceback in cases like these

[2016-05-23 20:55] berndbischl commented on #894
hi, @enricoferrero

sorry, one-class classification is not really supported at this stage. so i guess the answer sadly is:
currently you cannot really do this.

The only (hacky) solution I might point you to is the OverBaggingWrapper. Read what that does, maybe you can "abuse" it to achieve what you want.

[2016-05-23 20:55] #894 closed

[2016-05-23 21:18] schiffner commented on #909
Hi,

without a reproducible example I can not be sure, but I think I know where the error message is coming from. Here is a boiled down example:

[code]

The problem arises in `ranger` when a class is missing in the training data.
In mlr we can circumvent the problem by setting `recode.target = "drop.levels"`.
I can also open an issue upstream.

[2016-05-24 15:17] mnwright commented on #909
Fixed in ranger.

[2016-05-24 16:37] tjl3 commented on #514
Hello. I have been experiencing similar issues when using information.gain but not anova.test (thus, it seems to be related to the FSelector package)

R 3.3.0
mlr 2.8 (release)

Mac OSX Yosemite:
The following error is thrown - Error: protect(): protection stack overflow
I can prevent this error by using the --pp-size flag, but then it will start using too much memory for my machine 6+GB and keeps

[2016-05-24 16:48] larskotthoff commented on #514
It sounds like this is a memory issue. There's nothing we can do about it in the code I'm afraid.

[2016-05-24 16:56] enricoferrero commented on #514
@tjl3 I haven't got around reporting it in the end.

[2016-05-24 17:26] berndbischl commented on #909
can we close here then?

[2016-05-24 17:27] berndbischl commented on #909
ok, reopen please if further questions come up

[2016-05-24 17:27] #909 closed

[2016-05-24 17:36] tjl3 commented on #514
I probably ought to have mentioned this before, but I am using genetic datasets with 20,000 columns (features) and <1000 rows. I did not notice these issues when using a smaller dataset with <1000 columns and <1000 rows.

[2016-05-24 18:00] larskotthoff commented on #514
What works and what doesn't depends more on the learners/preprocessing methods that you're using than on mlr. All of the core ML methods are implemented in other packages. mlr itself shouldn't add any additional restrictions in terms of memory in most cases.

[2016-05-24 18:03] berndbischl commented on #514
+1 to what Lars  said.
@tjl3 have you read the complete thread? I thought we pretty exactly pinned down the source of the problem. And it does not seem to be code under our control?

(If you know feature filter implementation in R that scale better we can talk about interfacing those)

[2016-05-24 19:29] tjl3 commented on #514
Thank you for the information and for working on this project!

[2016-05-24 22:09] schiffner commented on #514
If they scale better needs to be determined, but in #878 CORElearn was suggested.

[2016-05-25 06:36] berndbischl commented on #862
nearly solved. I have set up a branch here

https://github.com/mlr-org/mlr/tree/classweightparam_with_modelmultiplexer

[2016-05-25 13:23] danielhorn commented on #862
I fear there is still an error:
[code]

After setting
`
configureMlr(on.par.without.desc = "quiet")
`
I get a (hopefully reasonable) result.

[2016-05-30 12:04] andrewjohnlowe commented on #878
Hi Julia,

Sorry for the delay in replying to your reply! I was on vacation, then had various deadlines to meet upon my return, so I've only had time to return to this now.

Upon reflection, probably the best way forward for me is to implement the method you described, that is, to implement the bootstrapping within the function fun that I pass to makeFilter. Alternatively, I can just live with the

[2016-06-03 15:08] PhilippPro opened #922 "2d partial prediction plots"
Instead of plotting a graph for each value one could plot a ggplot with colors @zmjones.
Just as idea.

Example code of @RaphaelCouronne:
[code]

[2016-06-03 15:24] zmjones commented on #922
Yea that is a good idea for plotting 2 feature interactions for multiclass tasks. I think we could do this with facetting no problem. I'll go ahead and implement this. Thanks for the idea!

[2016-06-03 19:59] PhilippPro commented on #922
Why not for regression? As far as I see we also get discrete combinations of values for regression with generatePartialPredictionPlot.

Maybe it would be nice not only to have discrete values but something like a continuos heatmap, but I do not know any R-package that supports this.

[2016-06-03 20:22] MasonGallo commented on #922
+1 @zmjones keep me posted - I think we will cross paths as my GSoC work progresses

[2016-06-03 20:41] zmjones commented on #922
This is already implemented with regression unless I've understood what you mean.

[code]

[2016-06-03 20:43] zmjones commented on #922
@MasonGallo for sure. I have another PR incoming adding a data overplotting argument to this but otherwise I have no big changes to the static plots planned. You are writing the set of functions to visualize the hyperparameter optimization path right?

[2016-06-03 20:49] MasonGallo commented on #922
Yup! This would also entail implementing partial dependence wrt hyperparameters rather than features, so we should definitely connect at some point in the future to make sure we're aligned.

[2016-06-03 20:59] zmjones commented on #922
Ah right ok I remember look at your ipynb on this. That is a cool idea.

[2016-06-03 21:00] PhilippPro commented on #922
Oh, very cool, I did not know this is already implemented. I also use it for visualisation of hyperparameter combinations in random forests, so I think I am not so far from MasonGallos work.

[2016-06-03 21:09] zmjones commented on #922
Well you guys should check out [this](https://github.com/mlr-org/mlr/pull/917) PR then which adds a functional anova decomposition using partial dependence to estimate the different effects. If you have any advice for how to structure things to make your stuff work more easily let me know. Next thing I'm adding are some methods for  multivariate density estimation to weight pd/fanova. Maybe that w

[2016-06-03 21:37] MasonGallo commented on #922
Oh great, will do! @PhilippPro I'd love to learn more about your usecase. I'll follow up with you in the next few weeks.

[2016-06-07 13:58] bkomboz opened #924 "Q: In which order are wrappers processed? / What happens with multiple wrappers?"
Let's assume we have the following multiple wrapped learner:
[code]

What exactly happens when this learner is put inside a call to `resample()`? I assume the following happens, but I am not sure if this is correct:

For each outer resampling iteration from 1 ... n:

i. The given training data is downsampled to 0.1.

ii. This downsampled data is split into train&test according to the inner resampl

[2016-06-07 16:56] jakob-r commented on #924
It happens vice versa. From the most outer wrapper to the inner wrapper.

1. The data will be split in 1 ... n from  `resample()`. Now we go in to the first of those splits and...
2. execute the tuning on the split we got.
3. we split this data again into the _tuning.train_ and _tuning.test_ split (repeated 3 times in your example) and depending on the tuning setting for each tuning evaluation a n

[2016-06-07 22:22] berndbischl commented on #924
IMHO @jakob-r explained this nicely. just some comments from my side, to make it simpler.

a) you dont have to think about what happens when you put that learner into "resample".
that always the same. the whole learner (pipeline) is trained on the training sets and it predicts the test sets. so just ask yourself what the learner does during a normal "train" (and "predict"). makes it simpler.

b) t

[2016-06-07 22:22] #924 closed

[2016-06-08 07:31] bkomboz commented on #924
Thanks for your responses and the explanations!

[2016-06-13 12:41] berndbischl opened #926 "fixDataForLearner is bad"
Look in fixDataForLearnner.R.

Status quo:
- this function is used to "enhance" learner capabilities.
-  it can do 3 things:
  -- restore.levels in features. so if factor levels are dropped from features during eg resampling this options restores.
  verdict: this seems 100% superfluous as we have fix.factors.predictions in makeLearner?
  -- factors.to.dummies: can encode a factor with dummies, so

[2016-06-13 13:32] berndbischl commented on #744
was solved in #904

[2016-06-13 13:33] #744 closed

[2016-06-13 14:55] schiffner opened #929 "Additional/recoded learner params"
We need to talk about how to integrate additional or recoded learner params properly.
See also #927 and #928.

[2016-06-14 07:45] MariaErdmann opened #933 "Shall surv.coxph have property "missings"?"
Hi,

preparing a script that tests all survival learners I stumbled over the coxph learner, which has property "missings". Coxph as it is implemented now in mlr handles NAs in following manner: Calling predict() function reveals that for the according observation a NA is output (instead of a prediction). Therefore, the default performance measure, cindex, cannot be calculated. Hence, shall surv.co

[2016-06-14 07:53] berndbischl commented on #933
In this case remove the missing property from coxph now. And make a note in your general unit tests for learners-all to test theses cases. That learners that claim to work with missing do indeed work.

[2016-06-14 09:05] dickoa opened #935 "xgboost predict error"
Hi,
It appears that in the newer version of xgboost `predict` is not exported any more from the package namespace, therefore all code with `xgboost::predict` throw errors.

[code]

The fix is to simply use `predict` without the `xgboost::` prefix in [R/RLearner_regr_xgboost.R] (https://github.com/mlr-org/mlr/blob/master/R/RLearner_regr_xgboost.R#L65) and [R/Learner_classif_xgboost.R](https://githu

[2016-06-14 10:30] Coorsaa commented on #847
Done in PR #930

[2016-06-14 10:30] #847 closed

[2016-06-14 10:52] jakob-r commented on #935
I don't get this error on my system with the same versions. Are you in a fresh session?

[2016-06-14 11:18] jakob-r commented on #926
?

[2016-06-14 11:39] dickoa commented on #935
I still have the same error even when I don't load `xgboost`
I also tried a fresh install of both packages without any success.

[code]

[2016-06-14 11:51] dickoa commented on #935
Looking at the `xgboost` gh repos, it doesn't look like the `predict` function is exported

https://github.com/dmlc/xgboost/blob/master/R-package/NAMESPACE

In my fresh install, I also have:
[code]
May be it will be better to solve it at the [xgboost side](https://github.com/dmlc/xgboost/commit/71f402ac16ea408321c41473609a1a537570f4f4) is there someone else with the same problem ?

[2016-06-14 12:09] mllg commented on #935
xgboost switched from S4 to S3 for `predict` on GitHub and you probably do have the GitHub version installed. The xgboost developers should increase the version number of the devel version, this is quite misleading.

[2016-06-14 12:19] #836 closed

[2016-06-14 12:53] enricoferrero opened #937 "Truncated precision - recall plots"
Hello

I'd like to visualise the performance of my classifiers using a precision - recall plot.
The problem is that, for some classifiers, these plots appear to be truncated for high precision and low recall values.

Is this a an expected or unexpected behaviour?
If it is expected, how can I interpret these truncated precision - recall curves?

This is the code I'm using:

[code]

where `lrns` is

[2016-06-14 12:53] dickoa commented on #935
@mllg You are right, thanks

[2016-06-14 14:14] enricoferrero opened #938 "Reproducibility and set.seed()"
Is there a way to ensure that different runs of the same code will return the same results?

I always use `set.seed()` to try and be reproducible but there's obviously some other randomness going on when I train and cross-validate my models.

Sure, results will always be largely the same and comparable. However, I'm now trying to get a definitive set of results and figures for publication and I wo

[2016-06-14 14:24] jakob-r commented on #3
PR #910

[2016-06-14 14:24] #774 closed

[2016-06-14 14:25] berndbischl commented on #774
fixed in #936 by @mllg thx

[2016-06-14 14:26] berndbischl commented on #933
fixed in #934

[2016-06-14 14:26] #933 closed

[2016-06-14 14:40] berndbischl commented on #855
ok answer here is:

1) we have added multiclass.brier
2) as multiclass.brier is not the same as the normal brier for 2class problems we cannot unify this further. and two objects seem ok to me here.

reopen if further questions or comments remain

[2016-06-14 14:41] #855 closed

[2016-06-14 16:37] berndbischl commented on #938
hi,
are you talking about normal mlr client code that you write?

are you saying you set.seed at the beginning of your script and this does not work?

mlr is 99.9% pure R code. set.seed MUST always work for this. please tell us about an example where seeding does not work, because this should not happen

[2016-06-14 16:39] berndbischl commented on #938
the only scenario i know where setseed does not work is if a package contains foreign language code, like c, c++, java or fortran. and this foreign language code does use its own RNG and not the stuff from R.

which is against the CRAN policies, to my knowledge, and with good reason, exactly due to the problem you mention.

[2016-06-14 16:41] berndbischl commented on #938
See 1.6 here
https://cran.r-project.org/doc/manuals/r-release/R-exts.html

[code]

https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Random-numbers

[2016-06-14 16:48] schiffner opened #940 "Filter mrmr and generateFilterValuesData"
* In "mrmr" `nselect` is misleading because one gets one score less than the supplied `nselect`.

* mrmr does not return scores in the original order of the features in the data set.
This is not taken into account when writing the results into the data.frame returned by `generateFilterValuesData` and therefore gives wrong results when more than one filter is used.

I guess it's easiest if mrmr ret

[2016-06-14 16:50] larskotthoff commented on #938
I think I've seen something like this with one of the random forests before. Is this what you're using @enricoferrero ?

[2016-06-14 16:54] schiffner opened #941 "generateFilterValuesData: Additional args for two or more filters"
This is not that important, rarely happens and not hard to circumvent, but we should think of a better solution how to pass additional args to filters when two or more filters are used simultaneously.

[code]

[2016-06-14 16:57] schiffner opened #942 "FilterWrapper: It would be nice if one could extract the feature scores"
Currently, the scores are calculated, used to select features and the dropped.

[2016-06-14 16:57] berndbischl commented on #926
my 2 cents:

- we should remove this now. it would not affect much of the codebase. and like i said, the design seems bad.

- after removal, we can talk about the functionality of  "factors.to.dummies" and "ordered.to.int". mlr should support this. but please in *one*  place. as added functionality for general base learners.
IMHO I would add these as options to makeLearner. as we already have "fix

[2016-06-14 17:04] larskotthoff commented on #926
I'm ok with removing that code.

A wrapper sounds like a good option for this.

[2016-06-14 17:12] berndbischl commented on #926
i new that you would say this :)
i dunno, i am not going to force my opinion here and we could kinda "vote", but my opinion on this is:
- we already have fix.factors.predictions in makeLearner. adding more options to makeLearner here seems more consistent to me
- for me this whole thing is more closer to the base learner and less about "adding more stuff on top of the learner" (yes, more a "feelin

[2016-06-14 17:22] schiffner commented on #926
I also don't have totally valid reasons, but:
While "fix.factors.prediction" is, like the name says, a necessary fix, treatment/encoding of categorical features "feels" more like preprocessing to me. Usually, one has several possible options (e.g. treat ordered factors as factors and therefore use dummies vs. encode ordered factors as integers) and either has good reasons to use one option or just

[2016-06-14 17:26] larskotthoff commented on #926
I guess there's a general question of how much stuff should be options (to makeLearner, or to specific learners) vs. how much stuff should be in wrappers. I think that wrappers are more flexible.

[2016-06-14 17:27] berndbischl commented on #941
i see 2 solutions:

a) add ... to every filter signature. ignore stuff in ... then in the filter (dont like this too much)

b) in generateFilterValuesData instead of ... have extra.args. this is a named list, named by the filter.method that we args should be passed down to. still allow ... if only one filter.method is used.

i like b) better.

@mllg @larskotthoff @jakob-r

vote?

[2016-06-14 17:28] larskotthoff commented on #941
Named list.

[2016-06-14 17:56] mllg commented on #941
Named list.

[2016-06-14 18:19] berndbischl commented on #941
PR is here #943

[2016-06-14 18:23] berndbischl commented on #926
ok, i see your arguments. i might also lean more towards a wrapper now.

one point i see, about makeLearner: fix.factors.prediction.
that more a technical thing. and i think mlr shouldnt really need this option. this is actually something we SHOULD fix with simple code in the base learner? because you never want to look up that stupid option?

[2016-06-14 18:26] enricoferrero commented on #938
@berndbischl @larskotthoff Yes I'm using `set.seed(16)` at the beginning of my scripts and I keep getting slightly different results every time I run the code.

In the setup I'm using I'm testing 4 different classifiers, including a random forest but I think I've seen all of them giving slightly different results at each run.

I assumed the problem was that there was some stochasticity in the mode

[2016-06-14 18:27] larskotthoff commented on #926
That sounds reasonable to me.

[2016-06-14 18:27] berndbischl commented on #938
yes, we need some logs otherwise we cannot help you.
and please tell us whether they are from the same machine.

[2016-06-14 19:08] catastrophic-failure commented on #926
Just a reference: [R Library: Contrast Coding Systems for categorical variables](http://www.ats.ucla.edu/stat/r/library/contrast_coding.htm) details 8 coding options. Perhaps a Wrapper could help bring all these functionalities? There's also details about the Orthogonal Polynomial Coding and Helmert Coding, which can be useful for ordered factors. There's also dummy coding for ordered factors.

[2016-06-14 19:29] #941 closed

[2016-06-14 19:51] berndbischl commented on #940
hi @mllg can you please share your thoughts here?
mine so far:

a)
the mrmr filter code does some very weird and undocumented (!) stuff
[code]

the int to double i can kinda understand, but we should not need it? as mlr would do this on task creation and never allows int features to exist anyway?
but the conversion from factors to ordered? does mrmr recommend that?

b) and now this error, the NA t

[2016-06-14 19:52] berndbischl commented on #926
@catastrophic-failure

thx! also you seem to follow the package quite closely? do you want better contact to us devels?

[2016-06-14 19:57] schiffner commented on #940
Re `as.ordered`: The help page on mRMRe.Data-class says:

data: is expected to be a data frame with samples and features respectively organized as rows and columns. The columns have to be of type :numeric, ordered factor, Surv and respectively interpreted as :continuous, discrete and survival variables.

[2016-06-14 20:01] berndbischl commented on #940
@schiffner
ok, but what you just said basically restates what my error message says. but does mrmr actually tell us to recode factor features and factor target variables to ordered ones? and the mrmr compuations still make sense?

[2016-06-14 20:10] berndbischl commented on #940
to make my point clearer: by calling as.ordered we basically induce a very arbitrary order on our unordered factors. which i dont like.

I then looked at the paper here
http://bioinformatics.oxfordjournals.org/content/29/18/2365.long

quote:
[code]

but:
https://en.wikipedia.org/wiki/Cram%C3%A9r%27s_V

is simply defined between nominal variables. it is basically a chi-squared statistics. so why do

[2016-06-14 20:20] enricoferrero commented on #938
I forgot to mention that I'm looking at  results of cross-validation (in some cases with bagging), which might be relevant.

Here's a reproducible example:
[code]

And the output:
[code]

[2016-06-14 20:26] schiffner commented on #940
I understand your point and also think that the "ordered factor thing" is weird.
(Was just hoping because they say that ordered factors are treated as discrete variables that something meaningful would happen.)
Found the same paper as you, hoped to find out what they do with a discrete response and a continuous predictor, but don't know yet, and hope that Michel does.

[2016-06-14 20:30] schiffner commented on #940
It seems that the order makes a difference in this case
[code]

[2016-06-14 20:35] schiffner commented on #941
Totally forgot: Thx Bernd and Lars!

[2016-06-14 20:46] berndbischl commented on #940
I might have it now. what is guessed is this:

for factors they need the order, to be able to compare factors to continuous features.
comparing factors to factors they use CRAMERS V and the dont need / use the order.

you can see this kinda here:

[code]

[code]

[2016-06-14 20:48] berndbischl commented on #940
for me the conclusion is:
i dont see how they support classification or learning with unordered factor features. so that leaves regr with num features only.

and i dont see this as my / our responsibility to figure this out. if somebody can tell us how to do this reliably i am happy to change the code. for now, i dont know what to do except for removing the properties from this learner.

[2016-06-14 20:53] schiffner commented on #940
Re your code: Thx, that's what I thought, too.
And I agree with your conclusion.

This leaves the second bullet point about the ordering of the scores. I can look into that tomorrow.

[2016-06-14 20:57] catastrophic-failure commented on #926
Well, I don't know if I would be able to contribute much more (I have no experience with software development or management btw, I'm just a medical physicist), so I think it's not necessary for now, Git seems to suffice.

[2016-06-14 21:16] berndbischl commented on #938
1) thats not really a "minimal" example. it would be a lot nicer to make the data smaller, use less learners etc. you just make it harder for us to help you....
please see below what *i* chose as an example.

2) you forgot to mention the most important point. that you use parallel computing....

3) you call your code in a loop. why do you think the results should stay the same?
if you do this
[cod

[2016-06-14 21:19] berndbischl commented on #938
(short edit for post above:  i included a faulty "mc.set.seed" which is not nessary in the example and removed this)

[2016-06-14 21:35] berndbischl commented on #935
so can we close this here? or do we have to adapt something?

[2016-06-14 21:39] berndbischl commented on #935
on my system i can see no problems with the latest version of xgboost from CRAN.
which, in cases like these, is the one we support.

reopen, if problems occur or a changed xgboost hits cran.

[2016-06-14 21:39] #935 closed

[2016-06-14 22:15] enricoferrero commented on #938
You make some good points, in my defence I didn't claim the example to be minimal, just reproducible :)

I didn't want to hide too much complexity in case the issue had to do with some particular learner (random forest) or procedure (bagging) but i can see how that example was probably overkill.

And yes, I got confused with the for loop: my issue is the reproducibility of the script without for l

[2016-06-14 22:26] berndbischl commented on #938
Regarding your defence: don't worry too much, asking is ok. It's simply that I have to answer these things too  often.

Regarding the example: I think mine is already fine? The problem has nothing to do with mlr. But how you seed the mclappy call we run internally through parallelmap. Set.seed without further parameters simply does not influence it. And I have shown you how to change that.

[2016-06-14 23:19] catastrophic-failure commented on #938
I think this question and answer (and many others) should be in Stack Overflow. There's no way someone could arrive here through Google, and so when someone hits this kind of issue again he could easily find the solution in SO (which is ranked highly by Google search). [And it's allowed.](http://meta.stackexchange.com/questions/17463/can-i-answer-my-own-questions-even-if-i-knew-the-answer-before-a

[2016-06-14 23:26] berndbischl commented on #937
hi,

1) we cannot reproduce this.

2) but i guess the answer seems clear. PPV = TP / nr.of.pos.preds.
so if your threshold is so high that you have 0 pos. preds, i guess that NA follows.

@zmjones @schiffner

what do you think? should we try to "continue" the last feasible value in the plot?

[2016-06-14 23:30] berndbischl commented on #938
ok, tell me then how i can subscribe to all SO questions that mention mlr then. and only those.

[2016-06-14 23:32] larskotthoff commented on #938
https://stackoverflow.com/feeds/tag?tagnames=mlr&sort=newest

That said, I'm not convinced that just by being on a different site it will be much easier to find.

[2016-06-14 23:34] berndbischl commented on #938
also thats not what i asked? i need an "push email" when such a question is asked. your link seems to suggest i have to remember clicking it everyday? it also only shows xml to me....

[2016-06-14 23:35] berndbischl commented on #938
disregard my last email, i am an idiot and need to go to bed, its just too late here and i am tired.

[2016-06-14 23:48] berndbischl commented on #937
this is a reproducible example.
(please... really post these)

[code]

d$ looks like this, this is exactly the effect i explained above and out plot also contains a truncated curve

[code]

[2016-06-14 23:59] berndbischl commented on #907
I have updated the note of xgboost to make this (even) clearer

note = "All settings are passed directly, rather than through `xgboost`'s `params` argument. `nrounds` has been set to `1` by default. `num_class` is set internally, so do not set this manually."

closing.

[2016-06-14 23:59] #907 closed

[2016-06-15 00:00] catastrophic-failure commented on #938
No need to keep up to all questions on SO, just suggesting the asker/someone else/you/me post this question to SO. And the SE-network sites rank highly on Google, they always show up near the top when you are searching for programming related questions. Good chance someone else will actually answer it in the 48h period before you yourself can answer it.

[2016-06-15 00:03] berndbischl commented on #938
well, we could in principle change the README and ask people to ask "usability" questions on SO.
this would also make us more active on SO. and we would only manage real issues via the GH tracker.

but this we would need to discuss with the other devels. also we are kinda hijacking this thread now...

[2016-06-15 00:05] berndbischl opened #944 "Possible, speculative extensions for mlr"
This thread here lists possible points of extensions for mlr that we currently dont have time to work on. they are closed in the tracker, so the issue list becomes more readable.

All of them have the tag "possible enhance later".

[2016-06-15 00:07] berndbischl commented on #944
Making a super learner from base learners applied to different parts of the data
https://github.com/mlr-org/mlr/issues/153

[2016-06-15 00:12] berndbischl commented on #552
@zmjones
are you still working on this? to be honest i dont really know what the thread is about. i dont even get the first post, what your "unsupervised rf" exactly does, and how that relates to clustering.

if you are still working on this, please reopen and try to explain again what your method would do.

[2016-06-15 00:12] #552 closed

[2016-06-15 00:14] #153 closed

[2016-06-15 00:16] #471 closed

[2016-06-15 00:17] #355 closed

[2016-06-15 00:19] #905 closed

[2016-06-15 00:21] #156 closed

[2016-06-15 00:22] berndbischl commented on #773
@mllg fixed this

[2016-06-15 00:22] #773 closed

[2016-06-15 00:24] #740 closed

[2016-06-15 00:26] schiffner commented on #937
Hi,

I'm too tired to figure this out now, but here is based on your example, Bernd, a comparison of the curves produced by mlr (for better comparability I used an ordinary plot instead of ggplot2) and by ROCR.
The ROCR curve is less truncated and apparently for a threshold/cutoff of 1 goes through (0.13,1). Might be worth a closer look.

[code]

[2016-06-15 00:27] berndbischl commented on #661
lets hope we currently dont need this

[2016-06-15 00:27] #661 closed

[2016-06-15 00:28] berndbischl commented on #706
@Coorsaa
Please take this over

[2016-06-15 00:39] berndbischl commented on #806
i guess the question is answered here.

i would like to extend the mlr pages at some point with standard benchmark results from OML for data based guidances. for the rest there are papers and blog posts and we cannot do this here currently.

@PhilippPro
I see you do habe a lot of valuable info already linked above. I could keep this issue open, and as you suggested you could merge this in a tutori

[2016-06-15 00:42] berndbischl commented on #889
this is mentioned in FeatSelControl, all algos are explained here

[code]

[2016-06-15 00:42] #889 closed

[2016-06-15 00:45] schiffner commented on #878
Hi Andrew,

thanks for your reply.

I will close this issue here.
I have opened another one regarding extraction of the filter scores from the FilterWrapper (#942).

:smile: I like the cartoon.
If you could drop us a note when your code is published, that would be great.

Thanks and best regards,
Julia

[2016-06-15 00:45] #878 closed

[2016-06-15 00:52] #544 closed

[2016-06-15 00:54] berndbischl commented on #872
@MasonGallo
my last post said you wanted to do a PR? where is it?

[2016-06-15 01:03] zmjones commented on #806
I think this is way beyond our scope. I mean each one of these implementations has one or more papers written on the topic. The relevant citation is basically always found in the relevant package doc. I don't think this is different from asking why you'd want to use some other algorithm in place of rf either, and so we'd end up with an ML textbook.

[2016-06-15 01:04] zmjones commented on #552
I am still working on it but I am doing it a bit differently and am just going to make it a package.

[2016-06-15 01:06] berndbischl commented on #872
i changed these lines now myself, so i can close this here

[2016-06-15 01:11] MasonGallo commented on #872
I never submitted a PR because I wasn't sure what the real source of the problem was. For the record, I still don't understand what caused the original bug.